/*
 * Dropdown menu and navigation
 *
 * Выпадающее меню и навигация
 */

.nav-sidebar {
  height: calc(100dvh - 100px);
  align-self: start;
  overflow-y: auto;
  position: sticky;
  top: 75px;
  z-index: 45;
  width: 265px;
  padding-right: 30px;
}

.dropdown,
.menu,
.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a i {
  font-size: 1.25rem;
  margin: 0 0.5rem;
}

.dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--dropdown-bg);
  box-shadow: var(--dropdown-box-shadow);
  padding: 0.5rem;
  z-index: 55;
  min-width: 215px;
  border-radius: var(--rounded);
}

/* right user menu */
.dropdown.user {
  margin-top: 10px;
  padding: 1rem 0 0.7rem 0;
}

.right-close {
  color: var(--gray-600);
  padding: 3px 8px 0 0;
  margin-top: -20px;
  float: right;
  display: block;
}

.user-box {
  padding: 0 0 0.4rem 1rem;
  display: flex;
  align-items: center;
  font-size: 0.975rem;
}

.user-nav li a {
  margin-left: 10px;
}

/* end */

.dropdown.left {
  left: 0;
  width: 150px;
}

.menu a,
.dropdown li>a,
.dropdown li>div {
  color: var(--black);
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 0;
  gap: .7rem;
}

.dropdown li:hover>a,
.dropdown li>a.active,
.dropdown li>div.active {
  color: var(--link-color-hover);
}

.nav-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__left:not(.menu__active) li {
  margin-bottom: 5px;
}

.menu li.active,
.menu li:hover {
  background-color: var(--white);
  border-radius: var(--rounded);
}

.menu li:hover {
  transition-duration: .3s;
}

.menu li:hover>a {
  color: var(--gray);
}

.breadcrumbs li {
  display: inline;
  color: var(--gray-600);
}

.breadcrumbs li:not(:last-child):after {
  content: " / ";
}

.menu .icon,
.dropdown ul .icon {
  color: var(--gray);
}

.menu .active .icon {
  color: var(--blue);
}

.menu .icon.gray-600 {
  color: var(--gray-600);
}

/* Navigation */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 20px 0;
}

ul.nav {
  list-style: none;
  align-items: center;
  display: flex;
  gap: 0.7rem;
  margin: 0;
  padding: 0;
}

ul.nav>li {
  padding: 2px 8px;
}

ul.nav.small>li {
  padding: 3px 6px;
}

ul.nav>li>a {
  color: var(--gray);
}

ul.nav>li.active {
  border-bottom: 2px solid var(--blue);
  color: var(--nav-color-active);
}

ul.nav>li.active>a {
  color: var(--nav-color-active);
}

ul.nav>li a:hover {
  color: var(--link-color-hover);
}

ul.nav>li.active a:hover {
  color: var(--nav-color-active);
}

/* If it's tabs */
.content-tabs {
  display: none;
}

.content-tabs.tab_active {
  display: block;
}