/*
 * @table styles
 *
 * Таблицы
 */

table {
  margin-bottom: 1.5rem;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table td,
table th {
  font-size: 14px;
  padding: 5px;
}

table thead th {
  border-bottom: 2px solid rgba(222, 226, 230, 0.5);
  text-align: left;
}

table tr:nth-of-type(2n) {
  background-color: var(--gray-100);
}