/*
 * Additional styles
 *
 * Дополнительные стили
 */

body {
  max-width: 1080px;
  padding-bottom: 2em;
  background-color: var(--white);
  margin: 0 auto;
}

main {
  margin-right: 0;
  max-width: 1560px;
  margin-left: 0;
  padding: 1rem;
}

.img-sm-min {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  border-radius: 50%;
}

.logo {
  background-color: var(--red);
  background-position: center;
  display: block;
  width: 32px;
  height: 32px;
  padding: 1px;
  position: relative;
  text-align: center;
  color: var(--white);
  font-size: 18px;
  margin-right: 20px;
}

.logo:hover,
.logo:active {
  color: var(--white);
}

.pt20 {
  padding-top: 20px;
}

.no-flex>div.flex {
  display: block;
}

aside .box {
  background-color: var(--gray-100);
}