/*
 * Code highlighting
 *
 * Выделение кода
 */

code {
  color: #9b4f5e;
  background-color: #f5f2f0;
  padding: 3px;
  border-radius: 3px;
  font-size: 14px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #f5f2f0;
  padding: 0.2em 0.5em;
}
