/*
 * For images (avatars, smileys, logos)
 *
 * Для изображений (аватарки, смайлкики, логотипы)
 */

.logo {
  color: var(--black);
  font-size: 21px;
}

.favicons {
  height: 18px;
  width: 18px;
}

.img-sm {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.img-base {
  width: 36px;
  height: 36px;
  margin-right: 6px;
}

.img-lg {
  width: 64px;
  height: 64px;
  margin-right: 8px;
}

.img-xl {
  width: 94px;
  height: 94px;
  margin-right: 15px;
}

.img-base {
  border: 1px solid var(--gray-300);
}