/*
 * For images (avatars, smileys, logos)
 *
 * Для изображений (аватарки, смайлкики, логотипы)
 */

.logo {
  color: var(--black);
  font-size: 21px;
}

.favicons {
  height: 18px;
  width: 18px;
}

.img-sm {
  width: 24px;
  height: 24px;
}

.img-base {
  width: 36px;
  height: 36px;
}

.img-lg {
  width: 64px;
  height: 64px;
}

.img-xl {
  width: 94px;
  height: 94px;
}

.trigger img.img-base:hover { opacity: 0.7; }