/*
 * Dropdown menu and navigation
 *
 * Выпадающее меню и навигация
 */

.menu__left { flex-basis: 180px; }
.menuno .menu__left { display: none; }

.dropdown,
.menu,
.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown a i,
.menu a i {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

.dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  box-shadow: 0 6px 18px 0 rgba(14,21,47,.13),0 -2px 6px rgba(14,21,47,.03);
  padding: 0.5rem;
  z-index: 5;
  min-width: 210px;
}

/* right user menu */
.dropdown.user {
  top: 0;
  padding: 1rem 0 0.7rem 0;
}

.right-close {
  color: #666;
  padding: 3px 8px 0 0;
  margin-top: -20px;
  float: right;
  display: block;
}

.user-box {
  padding: 0 0 0.7rem 1rem;
  display: flex;
  align-items: center;
  font-size: 0.975rem;
}

.user-box-nav {
  list-style: none;
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
}

.user-box-nav li a {
  margin-left: 56px;
  font-weight: 500;
}

.user-box-nav li:hover {
  background-color: var(--gray-100);
  color: #222;
}

.user-box-nav li:hover > a { color: #222; }
/* end */


.dropdown.left {
  left: 0;
  width: 150px;
}

.menu a,
.dropdown li > a {
  color: var(--gray);
  padding: 3px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.active,
li.active > a,
li > a:hover,
li > a:hover > i { color: #0ea5e9; }

.breadcrumbs li {
  display: inline;
  color: var(--gray-600); 
}

.breadcrumbs li:not(:last-child):after {
  content: " / ";
}

/* Navigation */
ul.nav {
  list-style: none;
  align-items: center;
  display: flex;
  gap: 0.7rem;
  font-size: 0.95rem;
  margin: 0;
  padding: 0;
}

ul.nav > li { padding: 4px 12px 5px 12px; }

ul.nav > li > a { color: rgba(0, 0, 0, 0.5); }

ul.nav > li.active {
  background: #fff4e8;
  color: #222;
}

ul.nav > li.active > a { color: #000; }
ul.nav > li a:hover { color: #0ea5e9; }
ul.nav > li.active a:hover { color: #000; }