AddDefaultCharset UTF-8
RewriteEngine On

# If in production, uncomment
# Если в производстве, раскомментируйте

# RewriteCond %{SERVER_PORT} !^443$
# RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]
# RewriteCond %{HTTP_HOST} ^www\.(.*)$
# RewriteRule ^(.*)$ http://%1/$1 [L,R=301]

# php_value session.cookie_httponly 1
# php_value session.cookie_secure 1

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
          Options +FollowSymLinks -MultiViews -Indexes
    </IfModule>
    RewriteEngine on
    #Switch to single sign-on
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
#Set caching on image files
<ifModule mod_expires.c>
    ExpiresActive On
    AddType image/x-icon .ico
    ExpiresByType image/x-icon "access plus 1 day"
    ExpiresByType image/svg "access plus 1 hour"
</ifModule>

