/*
 * Code highlighting
 *
 * Выделение кода
 */

code {
  color: #9b4f5e;
  background-color: #f5f2f0;
  padding: 3px;
  border-radius: 3px;
  font-size: 14px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #f5f2f0;
  padding: 0.2em 0.5em;
}

.imp { font-weight: bold; color: red; }
.kw1 { color: #000000; font-weight: bold; }
.kw2 { color: #993333; }
.kw3 {color: #000066; }
.kw4 { color: #a22b42; }
.st_h { color: #0000ff; }
.co1 { color: #a1a100; }
.co2 { color: #ff0000; font-style: italic; }
.coMULTI { color: #808080; font-style: italic; }
.es0 { color: #000099; font-weight: bold; }
.br0 { color: #00AA00; }
.sy0 { color: #00AA00; }
.st0 { color: #ff0000; }
.nu0 { color: #cc66cc; }
.re0 { color: #cc00cc; }
.re1 { color: #6666ff; }
.re2 { color: #3333ff; }
.re3 { color: #933; }
.nu19 { color: #f73030; }
span.xtra { display:block; }