/*
 * Dark (night) theme
 *
 * Тёмная (ночная) тема
 */

body.dark {
  filter: invert(100%) hue-rotate(180deg);
  background-color: #111;
}

body.dark .bg-white { background-color: var(--gray-300); }
body.dark img, body.dark iframe { filter: invert(100%) hue-rotate(180deg); }

body.dark .bg-lightgray,
body.dark .menu li.active,
body.dark .CodeMirror { background-color: #d6d3d3; }

body.dark .border-lightgray { border: 5px solid #d6d3d3; }