/*
 * For images (avatars, smileys, logos)
 *
 * Для изображений (аватарки, смайлкики, логотипы)
 */

.logo {
  color: var(--black);
  font-size: 21px;
}

.favicons {
  height: 18px;
  width: 18px;
}

.img-sm {
  width: 24px;
  height: 24px;
}

.img-base {
  width: 36px;
  height: 36px;
}

.img-lg {
  width: 64px;
  height: 64px;
}

.img-xl {
  width: 94px;
  height: 94px;
}

.img-2xl {
  width: 160px;
  height: 160px;
}

.trigger img.img-base:hover { opacity: 0.7; }

.profile-ava {
  position: absolute;
  z-index: 15;
  margin-left: 15px;
  border-radius: 3px;
}

.box-cover-img {
  height: 200px;
  width: 100%;
}

.profile-bg-img.bg-profile { height: 90px; }

.medium-zoom-overlay {position:fixed;top:0;right:0;bottom:0;left:0;opacity:0;transition:opacity .3s;will-change:opacity}
.medium-zoom--opened .medium-zoom-overlay{cursor:pointer;cursor:zoom-out;opacity:1}
.medium-zoom-image{cursor:pointer;cursor:zoom-in;transition:transform .3s cubic-bezier(.2,0,.2,1)!important}
.medium-zoom-image--hidden{visibility:hidden}
.medium-zoom-image--opened{position:relative;cursor:pointer;cursor:zoom-out;will-change:transform}

.img-preview {
  max-width: 780px;
  position: relative;
}

.img-preview img {
  max-width: 100%;
  border: 1px solid #f3f3f3;
}
.img-preview img:hover { box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%); }

img.emoji {
  max-width: 20px;
  display: inline-block;
  border-color: transparent;
}

.cut-post img,
.post img,
.medium-zoom-image { max-width: 100%; }
