/*
 * @media styles
 *
 * Медиа-запросы
 */

main { flex: 1; }

@media (max-width: 1050px) {
  .menu__left, #togglemenu { display: none; }
  aside { min-width: 240px; }

  .menu__button {
    transition: 0.3s ease;
    display: block;
  }

  .menu__left {
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    z-index: 98;
    left: 0;
    top: 0;
    bottom: 0;
    min-width: 180px;
    background-color: #eaecf0;
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.25);
    overflow-x: hidden;
    position: absolute;
    padding-right: 0;
  }

  .menu__left.menu__active,
  .menu__left.menu-none.menu__active  {
    opacity: 1;
    visibility: visible;
    transition: 0.25s;
    position: fixed;
    display: block;
  }

  .menu__left.menu__active ul.top-sm { top: 0; }

  .menu__left.menu__active .menu li {
    background-color: #fff;
    padding-left: 10px;
  }
}

@media (max-width: 780px) {
  .mb-w80 { width: 80px; }
  .mb-w150 { width: 150px; }
  .mb-p10 { padding: 10px; }
  .mb-mt5 { margin-top: 5px; }
  .mb-ml10 { margin-left: 10px; }
  .mb-text-xl { font-size: 1.25rem; }
  .logo { font-size: 18px; }
  .gap-max { gap: 1.5rem; }
  footer ul { padding-left: 0; }

  .mb-img-2xl {
    height: 80px;
    width: 80px;
  }
  
  .box-cover-img { height: 75px; }
  .title { font-size: 1.2125rem; }

  .mb-block,
  #contentWrapper { display: block; }

  .mb-w-100,
  iframe { width: 100%; }

  .box { padding: 1rem; }

  aside,
  .mb-none,
  ul.setting > li > a > i { display: none; }
  
  .wrap-item,
  .wrap {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
}
