/*
 * Dropdown menu and navigation
 *
 * Выпадающее меню и навигация
 */

.menu__left {
  width: 210px;
  padding-right: 20px;
}

.menuno .menu__left { display: none; }

.dropdown,
.menu,
.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a i {
  font-size: 1.25rem;
  margin: 0 0.5rem;
}

.dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  box-shadow: 0 6px 18px 0 rgba(14,21,47,.13),0 -2px 6px rgba(14,21,47,.03);
  padding: 0.5rem;
  z-index: 15;
  min-width: 210px;
}

/* right user menu */
.dropdown.user {
  top: 0;
  padding: 1rem 0 0.7rem 0;
}

.right-close {
  color: #666;
  padding: 3px 8px 0 0;
  margin-top: -20px;
  float: right;
  display: block;
}

.user-box {
  padding: 0 0 0.7rem 1rem;
  display: flex;
  align-items: center;
  font-size: 0.975rem;
}

.user-nav li a { margin-left: 56px; }
.user-box-nav li:hover > a { color: #222; }
/* end */


.dropdown.left {
  left: 0;
  width: 150px;
}

.menu a,
.dropdown li > a {
  color: var(--gray);
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .7rem;
}

.menu__left:not(.menu__active) li { margin-bottom: 3px; }

.user-nav li:hover,
.menu li.active,
.menu li:hover {
  background-color: var(--gray-100);
  border-radius: 3px;
}

.menu li:hover > a { color: var(--gray); }

.breadcrumbs li {
  display: inline;
  color: var(--gray-600); 
}

.breadcrumbs li:not(:last-child):after { content: " / "; }

/* Navigation */

ul.nav {
  list-style: none;
  align-items: center;
  display: flex;
  gap: 0.7rem;
  margin: 0;
  padding: 0;
}

ul.nav > li { padding: 6px 12px; }
ul.nav.small > li { padding: 3px 6px; }
ul.nav > li > a { color: rgba(0, 0, 0, 0.5); }

ul.nav > li.active {
  background-color: #fcebd9;
  border-radius: 3px;
  color: #332f2f;
}

ul.nav > li.active > a { color: #432f2f; }
ul.nav > li a:hover { color:  var(--red); }
ul.nav > li.active a:hover { color: #432f2f; }

/* If it's tabs */
.content-tabs { display: none; }

.content-tabs.active {
  display: block;
  color: #432f2f;
}
