.dropdown,
.delet-count {
  right: unset;
  left: 0;
}

.mr5 {
  margin-right: 0;
  margin-left: 5px;
}

.mr10 {
  margin-right: 0;
  margin-left: 10px;
}

.ml5 {
  margin-left: 0;
  margin-right: 5px;
}

.right-close {
  padding: 5px;
  float: left;
}

.showPassword {
  left: 5px;
  right: auto;
}

.dropdown.user {
  padding: 1rem .7rem .7rem 0;
}

.d-header_contents .btn-outline-primary {
  width: 120px;
}

.box-search {
  margin: 10px 0 10px 45px;
}

.block-comment .right {
  float: left;
}

.comment_level-left-0 {
  margin-right: 15px;
}

.comment_level-left-1 {
  margin-right: 36px;
}

.comment_level-left-2 {
  margin-right: 56px;
}

.comment_level-left-3 {
  margin-right: 76px;
}

.comment_level-left-4 {
  margin-right: 96px;
}

.comment_level-left-5 {
  margin-right: 116px;
}

li .comment-folder {
  float: right;
  margin-left: 12px;
}