/*
 * RTL overrides
 * Стили для правописания справа налево
 *
 * Load this file when the page is in RTL mode.
 * Uses logical properties so they work with the refactored base utilities.
 */

.dropdown,
.delet-count {
  right: unset;
  left: 0;
}

/* Margin utilities: in RTL, move "end" space to "start" */
.mr5 {
  margin-inline-end: 0;
  margin-inline-start: 5px;
}

.mr10 {
  margin-inline-end: 0;
  margin-inline-start: 10px;
}

.ml5 {
  margin-inline-start: 0;
  margin-inline-end: 5px;
}

.right-close {
  padding: 5px;
  float: left;
}

.showPassword {
  left: 5px;
  right: auto;
}

.dropdown.user {
  padding: 1rem 0.7rem 0.7rem 0;
}

.box-search {
  margin: 10px 0 10px 45px;
}

.block-comment .right {
  float: left;
}

/* Comment nesting: mirror horizontal margins */
.comment_level-left-0 { margin-inline-end: 15px; margin-inline-start: 0; }
.comment_level-left-1 { margin-inline-end: 36px; margin-inline-start: 0; }
.comment_level-left-2 { margin-inline-end: 56px; margin-inline-start: 0; }
.comment_level-left-3 { margin-inline-end: 76px; margin-inline-start: 0; }
.comment_level-left-4 { margin-inline-end: 96px; margin-inline-start: 0; }
.comment_level-left-5 { margin-inline-end: 116px; margin-inline-start: 0; }

li .comment-folder {
  float: right;
  margin-left: 12px;
}
