header {
  margin: 0;
}

.admin-menu {
  padding: 58px 0 10px 50px;
}

.t-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

input[type="text"] {
  width: 550px;
}

.m-850 {
  max-width: 850px;
}

.t-tr,
.t-th {
  display: table-row;
}

.t-th {
  background: #e3e3e3;
  font-weight: 600;
}

.t-td {
  display: table-cell;
  border: none;
  border: 1px solid #ccc;
  vertical-align: middle;
  font-size: 14px;
}

.t-td.center {
  text-align: center;
}

.t-td:not(.no-p) {
  padding: 4px 4px 4px 8px;
}

.w-30 {
  width: 30px;
}

.space-logo,
.ava-max {
  vertical-align: middle;
  width: 64px;
}

.ava-small {
  vertical-align: middle;
  width: 16px;
  border-radius: 50%;
  margin: 0 0 0 15px;
}
