.banner-bg {
  background-color: #7BC8A4;
  animation-name: col;
  animation-duration: 10s;
}

.dark .banner-bg {
  background-color: #111;
  animation-name: null;
}

.dark .banner .login-nav-home button {
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
}

.banner .login-nav-home {
  box-shadow: none;
  width: 360px;
}

@keyframes col {
  0%   { background-color: #7BC8A4; }
  25%  { background-color: #40415A; }
  50%  { background-color: #40415A; }
  75% { background-color: #F99A66; }
  100% { background-color: #F99A66; }
}

.banner .text {
  margin-right: 60px;
  line-height: 2rem;
  padding-left: 8px;
}

.banner h1 { margin-bottom: 20px; }
.banner { color: #fff; }

header.banner-bg {
 box-shadow: none;
 position: relative;
 padding-top: -50px;
}

header .gray-light-2,
header .gray,
header a.logo,
header a.logo .red {
  color: #fff;
}

.banner .register a {
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 16px;
  font-weight: 300;
  padding: 6px 18px;
  margin-left: 12px;
  color: #fff;
  border-radius: 3px;
}

.banner .login-nav-home a { color: #2A8B9D; }

.login-nav-home button {
  background-color: #2A8B9D;
  border: 1px solid #2A8B9D;
  outline: 0;
  line-height: 13px;
  font-weight: 500;
  width: 100%;
  text-transform: uppercase;
  border-radius: 10em;
  color: #fff;
}

.login-nav-home button:hover {
  color: #2A8B9D;
  background-color: #fff;
  border: 1px solid #67B892;
}

input[type=checkbox], input[type=radio] {
  display: none;
}

input[type=checkbox] + label span {
  border: 1px solid #fff;
  font-size: 24pt;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 0.25em;
  margin: 0 8px 0 0;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
}

input[type=checkbox]:checked + label span::after {
  content: "\2713";
}

@media (max-width: 910px) {
  .size-31 { font-size: 21px; }
  .size-21 { font-size: 16px; }
  .banner h1 { margin: 5px 0; }
  .banner .text { margin-right: 5px; }
}
