.box-card {
  position: relative;
}

.box-card img {
  width: 98%;
}

.box-card a:hover > img {
  opacity: 0.8;
}

.w-33 {
  width: 33%;
  position: relative;
}

.box-card a div {
  position: absolute;
  top: 10px;
  left: 20px;
  color: #fff;
  font-size: 18px;
}