.box-card {
  position: relative;
}

.box-card img {
  width: 98%;
}

.w-33 {
  width: 33%;
  position: relative;
}

.w-66 {
  width: 66%;
  position: relative;
  padding: 0 0 19px 30px;
}

.box-card a div {
  position: absolute;
  top: 3px;
  left: 10px;
  color: #fff;
}

.ex-post-img {
    margin-top: 20px;
}

.five-title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.five-space {
    text-transform: uppercase;
    letter-spacing: .07em;
    font-size: .72307rem;
    color: #333;
    display: block;
    margin: 13px 0 0 0;
}

.ex-title span {
  margin: 3px 0 0 0;
  font-size: 16px;
  margin-right: 4px;
  font-weight: 600;
  color: #333;
  border-bottom: 1px dashed #111;
}

.ex-user {
  width: 64px;
  border-bottom: 2px;  
}

.ex-box-users {
  text-align: center;
  display: block;
  float: left;
  margin-right: 15px
}

.ex-box-users div {
  font-size: 14px;
  display: table;
  color: #111;
  border-bottom: 1px dashed #111;
  margin: 0 auto;
}

.footer-box {
  padding-top: 10px;
  display: table;
  width: 100%;
  max-width: 600px;
}

div.ex-footer {
  margin: 20px 5px 0 5px;
}

.ex-title:hover > span,
.ex-box-users:hover > div {
  border-bottom: 1px dashed #e35836;
  color: #e35836;
}

.box-card a:hover > img,
.ex-title:hover > img.img-post,
.ex-box-users:hover > img {
  opacity: 0.6;
}
