#add_flow {
  display: flex;
}

.add-flow {
  bottom: 5px;
  position: fixed;
  width: 60%;
  background: #fff;
  padding: 5px;
  border: 1px solid #ddd;
}

textarea {
  width: 85%;
}

.add-flow-butt {
  margin: 10px;
}

.flow-telo {
  max-width: 650px;
}

aside#sidebar {
  margin: 0 20px 0 0;
}

.avatar {
  vertical-align: middle;
  width: 16px;
  margin-right: 4px;
}

.flow h1 {
  margin: 0 0 10px 0;
}

.md-icon.comment {
  margin: 7px 0 0 0;
  stroke: #07c;
  width: 28px;
  height: 28px;
}

.flow-comment .box,
.flow-answer .box {
  margin: 6px 0 10px 0;
  background-color: lightyellow;
  padding: 3px 10px 3px 10px;
  color: #39739d;
  font-size: 13px;
  display: inline-block;
}

.flow-answer .box {
  background-color: #f3f3f3;
}

.flow i.icon {
  margin-right: 1px;
}

.flow-telo.dell {
  display: none;
  background-color: rgb(246, 196, 184);
  padding: 2px 10px 0 10px;
}

.flow-telo.dell.block {
  display: block;
}

#content {
  height: 450px;
  overflow: auto;
}

#content::-webkit-scrollbar {
  width: 10px;
}

#content::-webkit-scrollbar-track {
  background: #f5f5f5;
}

#content::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 20px;
  border: 3px solid #f5f5f5;
}

.flow-info {
  padding: 15px 20px 15px;
  margin-left: 20px;
  float: right;
}

footer {
  padding-top: 30px;
}

@media (max-width: 720px) {
  .add-flow { width: 90%; }
}
