@font-face {
  font-family: 'fontello';
  src: url('./icons/fontello.eot?97855587');
  src: url('./icons/fontello.eot?97855587#iefix') format('embedded-opentype'),
       url('./icons/fontello.woff2?97855587') format('woff2'),
       url('./icons/fontello.woff?97855587') format('woff'),
       url('./icons/fontello.ttf?97855587') format('truetype'),
       url('./icons/fontello.svg?97855587#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before { content: '\e800'; } /* '' */
.icon-bell:before { content: '\e801'; } /* '' */
.icon-bold:before { content: '\e802'; } /* '' */
.icon-italic:before { content: '\e803'; } /* '' */
.icon-cog-outline:before { content: '\e804'; } /* '' */
.icon-sun:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e806'; } /* '' */
.icon-up-bold:before { content: '\e807'; } /* '' */
.icon-right-open-big:before { content: '\e808'; } /* '' */
.icon-camera-outline:before { content: '\e809'; } /* '' */
.icon-down-dir:before { content: '\e80a'; } /* '' */
.icon-pencil:before { content: '\e80b'; } /* '' */
.icon-link:before { content: '\e80c'; } /* '' */
.icon-warning-empty:before { content: '\e80d'; } /* '' */
.icon-logout:before { content: '\e80e'; } /* '' */
.icon-reply-outline:before { content: '\e80f'; } /* '' */
.icon-ok-outline:before { content: '\e810'; } /* '' */
.icon-pin-outline:before { content: '\e811'; } /* '' */
.icon-upload-cloud-outline:before { content: '\e812'; } /* '' */
.icon-home-outline:before { content: '\e813'; } /* '' */
.icon-record-outline:before { content: '\e814'; } /* '' */
.icon-attach:before { content: '\e815'; } /* '' */
.icon-quote:before { content: '\e816'; } /* '' */
.icon-lock:before { content: '\e817'; } /* '' */
.icon-calendar:before { content: '\e818'; } /* '' */
.icon-trash-empty:before { content: '\e819'; } /* '' */
.icon-tools:before { content: '\e81a'; } /* '' */
.icon-lightbulb:before { content: '\e81b'; } /* '' */
.icon-minus-outline:before { content: '\e81c'; } /* '' */
.icon-user-add-outline:before { content: '\e81d'; } /* '' */
.icon-trophy:before { content: '\e81e'; } /* '' */
.icon-infinity:before { content: '\e81f'; } /* '' */
.icon-award:before { content: '\e820'; } /* '' */
.icon-export:before { content: '\e821'; } /* '' */
.icon-edit:before { content: '\e822'; } /* '' */
.icon-air:before { content: '\e823'; } /* '' */
.icon-book-open:before { content: '\e824'; } /* '' */
.icon-users-outline:before { content: '\e825'; } /* '' */
.icon-scissors:before { content: '\e826'; } /* '' */
.icon-gift:before { content: '\e827'; } /* '' */
.icon-chart-bar:before { content: '\e828'; } /* '' */
.icon-search:before { content: '\e82b'; } /* '' */
.icon-heart-empty:before { content: '\e82c'; } /* '' */
.icon-star-empty:before { content: '\e82d'; } /* '' */
.icon-cancel:before { content: '\e82e'; } /* '' */
.icon-book:before { content: '\e82f'; } /* '' */
.icon-comment:before { content: '\e830'; } /* '' */
.icon-eye:before { content: '\e831'; } /* '' */
.icon-thumbs-up-1:before { content: '\e832'; } /* '' */
.icon-cog-alt:before { content: '\e833'; } /* '' */
.icon-wrench:before { content: '\e834'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-strike:before { content: '\f0cc'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-yahoo:before { content: '\f19e'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-wechat:before { content: '\f1d7'; } /* '' */
.icon-header:before { content: '\f1dc'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-medium:before { content: '\f23a'; } /* '' */
.icon-object-group:before { content: '\f247'; } /* '' */
.icon-object-ungroup:before { content: '\f248'; } /* '' */
.icon-sticky-note-o:before { content: '\f24a'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */
.icon-gg:before { content: '\f260'; } /* '' */
.icon-odnoklassniki:before { content: '\f263'; } /* '' */
.icon-wikipedia-w:before { content: '\f266'; } /* '' */
.icon-safari:before { content: '\f267'; } /* '' */
.icon-chrome-1:before { content: '\f268'; } /* '' */
.icon-firefox-1:before { content: '\f269'; } /* '' */
.icon-opera:before { content: '\f26a'; } /* '' */
.icon-internet-explorer:before { content: '\f26b'; } /* '' */
.icon-television:before { content: '\f26c'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */
.icon-quora:before { content: '\f2c4'; } /* '' */