#canvas {
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

.canvas-telo {
  height: 125px;
}

.time-cont {
  width: 100%;
  max-width: 830px;
  padding: 20px 0 0 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.blog_stats_telo {
  overflow: hidden;
  clear: both;
}

.time-cont.ots {
  padding: 0;
}

.time .-period:last-child .-vr:last-child::after {
  content: '';
  display: inline-block;
  width: 2px;
  background: #fff;
  position: absolute;
  left: -33px;
  top: 18px;
  bottom: 0;
  z-index: 2;
  height: 38px;
}

.time .-time {
  text-align: right;
  font-size: 27px;
  line-height: 1;
  color: #005999;
  display: inline-block;
  width: 48px;
}

.static-content li, 
.static-content ._icon {
  font-size: 15px;
  line-height: 1.53333333;
  margin-bottom: 24px;
}

.time .-period {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.static-content ol, 
.static-content li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bl-right {
  float: left;
  margin-left: 20px;
}

.bl-left {
  float: left;
  width: 70%;
}

h1 { 
  margin: 0;
  color:#f56400;
  font-size: 3em;
  font-family: Georgia,Arial,sans-serif;
}

.prof-blog {
  float: left;
  width: 33%;
}
  
.prof-num {
 color: #f56400;
 text-align: center;
 font-size: 4em;
 font-family: Georgia,Arial,sans-serif;
}
 
.prof-num-u {
  color: #f56400;
  text-align: center;
  font-size: 3em;
  font-family: Georgia,Arial,sans-serif;
}
  
.prof-txt {
  text-align:center;
  font-size:1.2em;
  color:#666;
  font-family: Georgia,Arial,sans-serif;
  font-weight: 300;
}

@media (max-width: 720px){
  .prof-txt { white-space: nowrap;overflow: hidden; padding: 5px;text-overflow: ellipsis; }	
  .prof-num, h1.prof { font-size: 2em; }
  .prof-txt { font-size: 1em; }
  .prof-num-u { font-size: 1.2em; }
  .no-mob, #canvas, .canvas-telo { display: none; }
} 
