ul.breadcrumb {
  padding: 0;
  font-family: sans-serif;
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin: 0.4rem 0;
}

.breadcrumb .breadcrumb-item {
  color: var(--tertiary);
  display: inline-block;
  margin: 0;
  padding: 0.2rem 0;
}

.breadcrumb .breadcrumb-item:not(:last-child) {
  margin-right: 0.2rem;
}

.breadcrumb .breadcrumb-item:not(:last-child) a {
  color: var(--tertiary);
}

.breadcrumb .breadcrumb-item:not(:first-child)::before {
  color: var(--tertiary);
  content: "/";
  padding-right: 0.4rem;
}