.my_space {
  background-color: #e7672e;
  width: 5px;
  height: 5px;
  position: absolute;
  border: 1px solid #fff;
  left: 13px;
  top: 6px;
}

.my_space.all {
  left: 49px;
  top: 19px;
}

.space-text a {
  color: #fff;
}

.space-tags a {
  margin-bottom: 5px;
}

h1.space {
  font-size: 16px;
  margin: 0 0 0 67px;
  letter-spacing: 1px;
  color: #2562dc;
}

h1.space a {
  color: #2562dc;
}

.space-tags {
  margin: 25px 0 0 4px;
}

.restricted {
  font-size: 14px;
  padding: 5px 10px;
  background-color: #f1f1f1;
  text-align: center;
  display: block;
  color: #666;
}

.no-space,
.yes-space {
  background-color: #f1f1f1;
  color: #666;
  font-size: 14px;
  border-radius: 20px;
  padding: 5px 10px;
  text-align: center;
}

.yes-space {
  background-color: #f4d85d;
  color: #333;
}

.space-tags .menu-m {
  margin: 0 0 5px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 11px;
}

.space-tags a.space-u.tag-u {
  display: table;
}

.space-color {
  width: 3px;
  height: 9px;
  margin-right: 1px;
  display: inline-block;
  background-color: #390;
  padding: 0;
}

.color-box-telo {
  position: relative;
}

.space-color.box {
  display: block;
  width: 22px;
  height: 15px;
}

.color-box {
  text-align: center;
  width: 20px;
  margin-left: 20px;
  float: left;
}

.space-des {
  margin-left: 10px;
}

.space-des.all {
  margin-left: 50px;
  font-size: 14px;
  color: #888;
}

.space-box .wrap {
  padding: 0;
}

.sb-space-short {
  margin-top: 15px;
}

.space-box .yes-space,
.space-box .no-space {
  margin-top: 21px;
}

.space-text {
  color: #fff;
  padding: 10px 6px 9px 6px;
  overflow: hidden;
}

.space-text h1 {
  padding: 0;
  margin: 0;
  font-size: 21px;
  font-weight: 400;
  color: #fff;
}

.space-box .space-box-img,
.space-box .space-img {
  float: left;
  width: 48px;
  height: 48px;
  border: 2px solid #fff;
  margin: 0 15px 0 0;
}

.space-cover-box .space-box-img,
.space-cover-box .space-img {
  float: left;
  width: 110px;
  height: 110px;
  border: 2px solid #fff;
  margin: 0 15px 0 0;
}

.space-cover-box .space-text {
  color: #fff;
  font-size: 16px;
  padding: 160px 6px 9px 6px;
  overflow: hidden;
}

.space-cover-box .space-text a {
  color: #fff;
}

.space-cover-box .space-text h1 {
  padding: 0;
  margin: 0;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
}

.space-cover-box .space-text .fons {
  margin-top: 30px;
  padding-bottom: 13px;
  width: 70%;
  background-color: linear-gradient(to right, rgba(0, 0, 0, 0.65), transparent);
}

.space-text-sb p {
  margin-top: 0;
}

.space-no-user {
  background-color: #f0f0df;
  color: #666;
  font-size: 13px;
  margin-bottom: 20px;
  padding: 5px 5px 5px 10px;
  border-radius: 1px;
}

.space-no-user i.icon {
  color: #f56400;
}

.info-space {
  font-size: 14px;
}

.space-text-sb {
  clear: both;
  padding-top: 20px;
  font-size: 14px;
}

.sb-add-space-post {
  margin: 20px 0;
}

.sb-space-stat {
  display: flex;
  margin: 20px 0 10px 0;
  width: 100%;
}

._bl {
  flex: auto;
}

.bl-t,
.bl-n {
  margin: 0;
  font-size: 14px;
}

.bl-n {
  font-size: 16px;
}

.sb-created,
.bl-t {
  color: #666;
}

a.add-space-post {
  background-color: #1ca1f3;
  border: 1px solid #1ca1f3;
  padding: 5px 14px 5px 22px;
  color: #fff;
  border-radius: 2px;
  display: block;
}

a.add-space-post:hover {
  background-color: #fff;
  color: #1ca1f3;
}

@media (max-width: 880px) {
  .space-cover-box .space-text .fons { width: 99%; }
}
