.space-tags {
  margin: 25px 0 0 4px;
}

.space-color {
  width: 3px;
  height: 9px;
  margin-right: 1px;
  display: inline-block;
  background-color: #390;
  padding: 0;
}

.space-color.box {
  display: block;
  width: 22px;
  height: 15px;
}

.space-box .yes-space,
.space-box .no-space {
  margin-top: 27px;
}

.space-text {
  padding: 10px 6px 9px 6px;
  overflow: hidden;
}

.space-box .space-box-img,
.space-box .space-img {
  float: left;
  width: 48px;
  height: 48px;
  margin: 3px 15px 0 0;
}

.space-cover-box .space-box-img,
.space-cover-box .space-img {
  float: left;
  width: 110px;
  height: 110px;
  border: 2px solid #fff;
  margin: 0 15px 0 0;
}

.space-cover-box .space-text {
  padding: 160px 6px 9px 6px;
  overflow: hidden;
}

._bl {
  flex: auto;
}

.all-box-spaces {
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.space-info-box {
  height: 120px;
  padding: 10px;
  border-radius: 2px;
}

.fons,
.fon {
  position: relative;
  flex: 0 1 48%;
  border-radius: 2px;
}

.fons::before {
  background: linear-gradient(77.64deg, #000 1.67%, rgba(0, 0, 0, 0.25) 49.6%);
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.all-box-spaces img.ava-54 {
  border: 1px solid #fff;
  margin-right: 5px;
  border-radius: 2px;
}

.space-s {
  left: 76px;
  top: 21px;
}

.space-s:hover {
  color: #eee;
}

/* signed */
.focus-space {
  color: #fff;
  padding: 2px 8px;
  border-radius: 20px;
  bottom: 10px;
}

.focus-space:hover {
  background: hsla(0, 0%, 100%, 0.2);
  padding: 2px 8px;
}

@media (max-width: 980px) {
  .fons,
  .fon { flex: 0 1 100%; }
}

@media (max-width: 880px) {
  .space-cover-box .space-text .fons { width: 99%; }
}
