html {
  height: 100%;
  overflow-y: scroll;
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --primary: #222;
  --secondary: #fff;
  --tertiary: #5b7083;
  --quaternary: #e45735;
}

body {
  line-height: 1.46;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 0.95em;
  color: var(--primary);
  min-height: 100%;
}

a {
  color: #275ec2;
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:focus,
a.active {
  color: var(--quaternary);
}

.center {
  text-align: center;
}

.small {
  font-size: 13px;
}

.lowercase {
  text-transform: lowercase;
}

.translation {
  color: #8c651b;
  font-size: 13px;
  font-style: italic;
}

tt {
  font-size: 14px;
}

.wrap {
  padding: 0.4rem 0.4rem 0.1rem 0.4rem;
  margin: 0 auto;
  max-width: 1220px;
  position: relative;
}

aside {
  padding: 8px;
  position: relative;
  float: right;
  width: 250px;
  list-style: none;
}

header {
  z-index: 10;
  padding: 5px 5px 12px 5px;
}

main {
  overflow: hidden;
  width: calc(100% - 285px);
  float: left;
}

body > main {
  padding: 0.4rem 0.4rem;
}

main.w-100 {
  width: 100%;
  max-width: 100%;
}

main.w-75 {
  width: calc(100% - 290px);
  max-width: 100%;
}

main.w-50 {
  width: calc(100% - 490px);
  max-width: 700px;
}

#h-200 {
  height: 200px;
}

#h-100 {
  height: 100px;
}

h1 {
  font-weight: 400;
  font-size: 1.2rem;
}

h1 span {
  vertical-align: middle;
}

h3.lo {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 300;
}

.max-width {
  max-width: 780px;
}

.private {
  max-width: 480px;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

code {
  color: #b63e56;
  background: #f5f2f0;
  padding: 1px 4px;
  font-size: 1.1em;
}

pre code {
  background: #272822;
  color: var(--secondary);
  padding: 2px 14px 2px 10px;
  border-radius: 3px;
  display: inline-block;
}

a.add-post {
  background: #1ca1f3;
  border: 1px solid #1ca1f3;
  padding: 5px 14px 5px 22px;
  color: #fff;
  border-radius: 10em;
}

.dropbtn.nav {
  position: relative;
}

.arrow {
  font-size: 8px;
  margin-left: 4px;
}

.nick .ava {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 4px;
  width: 18px;
}

.nick span {
  font-size: 13px;
  margin-right: 5px;
  color: var(--tertiary);
}

a.add-post:hover {
  background: #fff;
  color: #1ca1f3;
}

a.link {
  font-size: 13px;
  color: var(--tertiary);
  margin-left: 15px;
}

a.link:hover {
  color: var(--primary);
}

.banner {
  padding: 11px 15px 15px 15px;
  background: #f0f0df;
  color: var(--tertiary);
  font-size: 15px;
  border-radius: 2px;
}

.banner h1 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 16px;
  color: #333;
  font-weight: 400;
  margin: 0 0 5px 0;
}

.comm-telo-body a {
  text-decoration: underline;
}

.answers h2 {
  margin: 20px 0 0 4px;
  font-weight: 300;
}

blockquote {
  font-style: italic;
  margin: 0.8em 0 0.8em 0.5em;
  border-left: 2px solid gray;
  padding-left: 15px;
}

.info i.icon { margin: 0 1px; }

a.logo {
  color: #333;
  font-size: 16px;
}

a.logo span {
  color: var(--quaternary);
}

a.logo:hover {
  opacity: 0.8;
}

i.icon {
  margin-right: 10px;
}

.sticky i.icon {
  margin-right: 0;
}

a.home {
  color: #888;
}

.sb-telo,
.recommend-telo {
  margin-bottom: 15px;
}

.sb-telo .ava {
  border-radius: 8px;
  height: 16px;
  margin-bottom: 2px;
  margin-right: 2px;
  vertical-align: middle;
  width: 16px;
}

.sb-date {
  margin-left: 20px;
  font-size: 12px;
  color: var(--tertiary);
}

.sb-telo a {
  color: var(--primary);
  font-size: 14px;
  margin-left: 20px;
  display: block;
}

.recommend-telo a {
  font-size: 14px;
  color: #333;
}

.sb-telo a:hover,
.recommend-telo a:hover {
  color: var(--tertiary);
}

.nav {
  float: right;
  margin-left: 30px;
}

.header-right i.icon {
  vertical-align: middle;
  color: var(--tertiary);
}

.header-right i.icon.pencil {
  color: var(--secondary);
}

.header-right a:hover > i.icon.pencil {
  color: #1ca1f3;
}

.notif i.icon.bell,
.dropdown-menu i.icon.shield {
  color: var(--quaternary);
}

i.icon.info,
.no-answer i.icon.lock {
  color: #390;
}

.header-left,
.header-right {
  display: inline-block;
}

.post-body i.icon {
  margin-left: 8px;
}

.mlogout {
  color: var(--tertiary);
}

hr {
  border: none;
  color: #ddd;
  clear: both;
  background-color: #ddd;
  height: 1px;
}

/* Пагинация */
.pagination {
  margin: 5px 10px 10px 15px;
  float: left;
  clear: both;
}

.pagination a {
  padding: 0 3px;
  color: var(--tertiary);
  font-size: 15px;
}

.pagination a:hover {
  color: #333;
}

.search-title {
  font-size: 21px;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit_url"] {
  display: inline-block;
  padding: 2px 10px 2px 10px;
  line-height: 18px;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  cursor: pointer;
  color: #333;
}

input[type="submit_url"] {
  text-align: center;
  width: 107px;
}

button:first-child,
input[type="button"]:first-child,
input[type="reset"]:first-child,
input[type="submit"]:first-child,
input[type="text"]:first-child,
input[type="password"]:first-child,
input[type="email"]:first-child,
input[type="submit_url"]:first-child {
  margin-left: 0;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="test"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="submit_url"]:hover {
  color: var(--primary);
  text-decoration: none;
  background-color: #e6e6e6;
}

textarea {
  border: 1px solid #ccc;
  padding: 2px 10px 2px 10px;
  font-size: 15px;
  width: 95%;
}

textarea:focus,
input:focus {
  border-color: #888;
  color: #303030;
  outline: 0;
}

textarea:disabled {
  background-color: #f0f0f0;
}

select {
  margin-top: 3px;
  min-width: 100px;
  padding: 2px 5px 2px 5px;
  border: 1px solid #ccc;
}

select:focus {
  border-color: rgba(160, 160, 160, 0.8);
  color: #303030;
  outline: 0;
}

select::-moz-focus-inner {
  border: 0;
  outline: 0;
}

input:disabled,
button:disabled {
  background-color: #e9e9e9;
  color: gray;
}

input:disabled {
  background: #f1f1f1;
}

input.form-about,
input.add {
  width: calc(100% - 12em);
}

input.add-url {
  width: calc(100% - 22em);
}

.box .boxline {
  clear: both;
  margin-bottom: 0.9em;
}

.box_h {
  font-size: 12px;
  color: var(--tertiary);
}

.box label,
.box .label_holder {
  display: block;
  float: left;
  margin-bottom: 4px;
}

.box.wide label {
  width: 12em;
}

.box label.required {
  font-weight: bold;
}

.box label {
  width: 7em;
  vertical-align: middle;
  display: block;
  float: left;
  margin-bottom: 4px;
}

.box br {
  clear: left;
}

form.form {
  display: inherit;
}

input.form-search {
  border: 1px solid #e6ecf0;
  background-color: #e6ecf0;
  border-radius: 10em;
  padding: 2px 0 2px 20px;
  height: 25px;
  font-size: 13px;
  color: #14171a;
  margin-left: 50px;
  width: 300px;
}

input.form-search:hover {
  border: 1px solid #e6ecf0;
  background-color: #fff;
}

input.form-search:focus {
  border: 1px solid #1ca1f3;
  background-color: #fff;
}

/* Sidebar */
aside i.icon {
  margin: 0 8px 0 0;
}

aside .stat {
  font-size: 13px;
  text-transform: lowercase;
}

aside a.my {
  color: var(--tertiary);
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}

aside a.my.active {
  color: #1ca1f3;
}

/* Форма авторизации */
.login-nav {
  width: 100%;
  margin-bottom: 20px;
}

.login-nav label {
  line-height: 13px;
  color: #14171a;
  margin-bottom: 7px;
  font-size: 13px;
  display: block;
}

.login-nav input {
  height: 26px;
  border: none;
  border-radius: 0;
  background: #f5f8fa;
  border-bottom: 2px solid #e6ecf0;
  box-shadow: none;
  outline: 0;
  font-size: 13px;
  color: #004874;
  width: 100%;
}

.login-nav input:hover {
  border-bottom: 2px solid #1ca1f3;
  background: #eff3f6;
}

.login-nav input#rememberme {
  height: 12px;
  width: 12px;
  float: left;
  margin-right: 5px;
}

.login-nav label#rem-text {
  margin-top: 13px;
  padding-top: 3px;
}

.login-nav hr {
  width: 60%;
  margin-top: 22px;
  display: block;
  height: 0.8px;
}

.recover {
  font-size: 13px;
  line-height: 16px;
  color: #14171a;
  font-weight: 500;
  opacity: 0.7;
}

.login-nav.register a {
  font-size: 13px;
  line-height: 11px;
  color: #5b7083;
  text-transform: uppercase;
}

.login-nav button {
  color: #fff;
  background: #1ca1f3;
  border: 1px solid #1ca1f3;
  outline: 0;
  padding: 10px 15px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
  width: 100%;
  text-transform: uppercase;
  border-radius: 10em;
}

.login-nav button:hover {
  color: #1ca1f3;
  background: #fff;
}

/* Диалог */
.alert-danger {
  color: #e83e8c;
}

.alert-success {
  color: #390;
}

.errors > ul > li {
  color: #e83e8c;
}

.no-content,
.no-answer {
  padding: 10px 15px;
  margin: 10px 0;
  background-color: lightyellow;
}

.notif-color-1 {
  background: #f89406;
}

/* Урезанный пост на главной */
.showpost {
  font-size: 14px;
  color: var(--tertiary);
  max-width: 750px;
  margin: 0 0 5px 0;
  display: block;
}

.show_detail.hide {
  display: none;
}

.shown_post {
  background: #eff3f6;
  padding: 1px 15px;
  color: #333;
}

.full-post-home,
.post-telo.full {
  overflow: hidden;
  margin-bottom: 22px;
}

.full-post-home img.thumb {
  margin: 10px 20px 10px 10px;
}

.fuul-head {
  font-size: 13px;
  margin: 0 0 5px 0;
}

.fuul-head a {
  color: var(--tertiary);
}

.fuul-head .ava {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 4px;
}

.bar-space-no {
  margin: 10px 0 25px 0;
  background: #f3f3f3;
  font-size: 13px;
  padding: 15px;
}

/* Посты */
.lo-post {
  max-width: 660px;
  background: #f3f3f3;
  padding: 5px 5px 5px 10px;
  margin: 10px 0;
}

.post-details,
.post-details .img-post {
  max-width: 750px;
}

.post_url_detal {
  margin: 0 0 20px 0;
  display: block;
  font-style: italic;
}

.post-body {
  margin-left: 40px;
}

.post-body.full {
  margin-top: 10px;
}

.post-body.full .post {
  margin-bottom: 20px;
  max-width: 750px;
}

img.img-post {
  margin: 10px 0;
  max-width: 750px;
}

img.thumb {
  margin: 5px 0 10px 10px;
  float: right;
  width: 70px;
  border-radius: 2px;
}

.telo-detail_post.dell {
  background-color: rgb(246, 196, 184);
  padding-left: 10px;
}

.post-telo {
  margin-bottom: 25px;
  max-width: 800px
}

.telo-fav-answ {
  background: #f3f3f3;
  padding: 1px 15px;
  max-width: 700px;
  font-size: 13px;
  color: var(--tertiary);
}

.voters-fav {
  float: left;
  width: 30px;
  height: 45px;
  margin: 3px 0 0 0;
  font-size: 13px;
}

.title {
  margin: 3px 0 0 0;
}

.u-url .title {
  font-size: 1.2rem;
  display: inline;
  margin-right: 4px;
  font-weight: 400;
}

#stHeader {
  display: none;
}

#stHeader.sticky {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #eee;
  background: #fff;
  z-index: 999;
  font-size: 18px;
  padding: 5px;
}

#stHeader.sticky a {
  color: var(--quaternary);
}

.date {
  color: var(--tertiary);
  text-transform: lowercase;
  margin: 0 0 0 5px;
}

.date.ots {
  margin: 0 0 0 12px;
}

.v-ots {
  margin: 15px 0;
}

.post-footer {
  color: var(--tertiary);
  padding: 4px 12px 4px 12px;
  border: solid 1px #ddd;
  display: table;
  border-radius: 2px;
  font-size: 13px;
  margin-top: 5px;
}

.post-footer-full {
  color: var(--tertiary);
  display: inline-block;
  font-size: 13px;
}

.post-footer a,
.post-footer-full a {
  color: var(--tertiary);
}

.post-footer a:hover,
.post-footer-full a:hover {
  color: #333;
}

.post-footer .ava,
.post-footer-full .ava,
.mini.ava {
  border-radius: 50%;
  height: 16px;
  margin-right: 2px;
  vertical-align: middle;
  width: 16px;
}

.search-info,
.search-info a {
  color: var(--tertiary);
  text-transform: lowercase;
  font-size: 13px;
}

.search-info img {
  vertical-align: middle;
  margin-right: 5px;
  border-radius: 2px;
}

.no-md p {
  margin: 2px 0;
}

.fl {
  padding: 5px;
}

.fl.active {
  background: rgba(82, 186, 213, 0.1);
  display: table;
}

.bar-space-telo {
  display: flex;
  align-items: center;
  padding: 5px 0;
  margin-bottom: 3px;
  width: 140px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  font-size: 13px;
  color: var(--tertiary);
}

.bar-space-telo:hover {
  background: rgba(0, 154, 97, 0.08);
  color: #1ca1f3;
  text-decoration: none;
}

.bar-space-telo img {
  margin-right: 6px;
  width: 21px;
  height: 21px;
  border-radius: 2px;
  vertical-align: middle;
}

a.space-u,
.space a.space-u,
.post_url {
  font-size: 10pt;
  color: var(--tertiary);
  font-style: italic;
  vertical-align: middle;
}

a.space-u:hover,
.space a.space-u:hover,
.post_url:hover {
  color: var(--primary);
}

.bar-title {
  margin-top: 15px;
  color: #646464;
}

/* Ответы */
.line {
  border-top: 2px dotted #ddd;
}

.line-qa {
  border-top: 1px solid #eee;
  margin-left: 30px;
}

ol.answer-telo {
  padding: 0;
}

.answ-telo {
  margin-left: 40px;
  margin-right: 40px;
}

.answ-telo-body {
  max-width: 800px;
}

.answ-telo_bottom {
  margin-bottom: 20px;
}

.answ-telo-body p {
  margin: 5px 0 10px 0;
}

.answ-header a,
.answ-header {
  font-size: 9.5pt;
  color: #888;
}

.answ-header a:hover {
  color: #666;
}

.answ-header .ava {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  vertical-align: middle;
}

.answ-header .user {
  margin: 0 0 0 3px;
  text-transform: lowercase;
}

.answers .comm-telo {
  padding: 3px 0 0 0;
  font-size: 10.5pt;
  list-style: none;
}

/* Комментарии */
.comm-telo .voters {
  margin-top: 3px;
}

.reply {
  display: none;
}

.reply.active {
  display: block;
}

.authorpost {
  color: #f8a853;
}

.comm_subtree:target,
.comm_subtree.edit,
.answers_subtree:target,
.answers_subtree.edit {
  -webkit-background-clip: content-box;
  background-clip: content-box;
  background-color: lightyellow;
}

.block-comments,
.block-answers {
  margin: 5px 0 5px 0;
}

ol.dell.comment-telo,
.dell.comm-telo_bottom {
  font-size: 13px;
  color: #888;
}

ol.comment-telo.one {
  padding: 0;
}

ol.comment-telo.two {
  margin-left: 25px;
}

ol.comment-telo.three {
  margin-left: 50px;
}

ol.comment-telo {
  list-style: none;
  padding-left: 23px;
}

.n-comm {
  color: #390;
  font-size: 13px;
}

.comm-telo {
  margin-left: 35px;
}

.comm-telo.step {
  margin-left: 70px;
}

.comm-telo_bottom {
  margin-bottom: 20px;
}

.comm-telo-body {
  margin: 5px 0;
  max-width: 750px;
}

.qa-comm .comm-telo-body {
  margin: 2px 0 2px 0;
}

.comm-header a,
.comm-header {
  font-size: 9.5pt;
  color: #888;
}

.comm-header a:hover {
  color: #666;
}

.comm-header .ava {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  vertical-align: middle;
}

.comm-header .user {
  margin: 0 0 0 3px;
  text-transform: lowercase;
}

.comments .voters {
  margin-top: 3px;
}

.comments .comm-telo {
  padding: 3px 0 0 0;
  font-size: 10.5pt;
  max-width: 800px;
}

.otst {
  margin: 0 3px;
}

.cm_addentry,
.comments .cm_add_link,
.comm-deletes,
.user-comm-fav,
.user-answ-fav,
.answers .answ_add_link,
.answers .cm_add_link,
.answ-deletes {
  margin-left: 35px;
}

.addcomm,
.delcomm,
.editcomm,
.favcomm,
.addansw,
.delansw,
.editansw,
.addcomm_re {
  color: var(--tertiary);
  font-size: 9.5pt;
}

.comments_subtree,
.answers_subtree {
  position: relative;
  list-style: none;
}

.comments_subtree.dell,
.answers_subtree.dell,
.comm_subtree.dell {
  opacity: 0.3;
}

.com-line {
  position: absolute;
  left: -3px;
  border-left: 1px dotted #bbb;
  top: 3px;
  bottom: 0;
}

.answers .comm-telo.qa-comm {
  margin-top: 1px;
  margin-bottom: 1px;
}

.qa-user,
.qa-comm-info {
  font-size: 9.5pt;
  color: #888;
}

.qa-footer {
  float: right;
  margin-top: -20px;
  min-width: 190px;
}

.qa-ava img {
  width: 18px;
  height: 18px;
  float: right;
  margin: 0 0 0 10px;
}

.qa-login {
  display: block;
  color: #333;
}

.qa-date,
.qa-ava-info {
  display: block;
  font-size: 13px;
  color: #888;
}

.qa-inline {
  display: inline-block;
}

.answers .qa-comm .cm_add_link {
  margin-left: 15px;
}

/* ЛС */
.red,
.lo {
  color: var(--quaternary);
}

.qa {
  color: #390;
}

.msg-telo {
  margin-bottom: 15px;
}

.msg-ava {
  width: 18px;
  border-radius: 50%;
}

.msg-telo.active {
  background-color: lightyellow;
}

/* голосование */
.voters {
  float: left;
  width: 30px;
  margin-top: 2px;
}

.telo-detail_post .voters {
  float: left;
  margin-top: 4px;
  width: 30px;
}

div.voters .comm-up-id,
div.voters .post-up-id,
div.voters .asnw-up-id {
  border-bottom-width: 11px;
}

.voters .comm-up-id,
.voters .post-up-id,
.voters .answ-up-id {
  border-color: transparent transparent #bbb transparent;
  border-style: solid;
  border-width: 6px;
  width: 0;
  height: 0;
  margin-bottom: 0;
  margin-left: 9px;
  padding: 0;
  display: block;
  border-bottom-width: 11px;
}

.voters .comm-up-id:hover,
.voters .post-up-id:hover,
.voters .answ-up-id:hover {
  border-color: transparent transparent var(--quaternary) transparent;
}

.voters .score {
  color: #aaa;
  font-size: 9pt;
  margin-top: 1px;
  margin-bottom: -3px;
  text-align: center;
}

.voters.active .comm-up-id,
.voters.active .answ-up-id,
.voters.active .post-up-id,
.voters.active .score {
  border-color: transparent transparent var(--quaternary) transparent;
  color: var(--quaternary);
  border-bottom-width: 11px;
}

/* Горизонтальное меню */
.nav-tabs {
  position: relative;
  z-index: 1;
  height: 63px;
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  color: #667d99;
  display: table;
  width: 100%;
}

.nav-tabs > li {
  margin: 0 10px 0 0;
  font-size: 14px;
  float: left;
}

.nav-tabs > li.right {
  float: right;
}

.nav-tabs > li > a {
  line-height: 30px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  color: #969696;
  border-bottom: 2px solid transparent;
}

.nav-tabs > li > a:hover {
  border-bottom: 2px solid #ddd;
  color: #646464;
}

.nav-tabs > li.active span {
  line-height: 30px;
  padding: 10px 15px;
  font-size: 14px;
  border-bottom: 2px solid #646464;
  color: #646464;
}

.no-pc {
  display: none;
}

/* Info пространство и рекомендовано в посте */
.space-info {
  background: #efefef;
  padding: 10px;
  position: relative;
}

.space-info-desc {
  padding: 2px 0 4px 0;
  color: #333;
  font-size: 13px;
}

.img-space {
  width: 35px;
  height: 35px;
  border-radius: 2px;
}

.space-info-img .img-space {
  vertical-align: middle;
  margin-right: 8px;
}

.space-info-title {
  font-size: 16px;
  vertical-align: middle;
}

.b-sticky {
  font-size: 13px;
}

.l-rec-small {
  margin-bottom: 10px;
  overflow: hidden;
}

.l-rec {
  font-size: 26px;
  float: left;
  color: rgba(48, 41, 41, 0.51);
  margin-top: 2px;
}

.l-rec-telo {
  margin-left: 42px;
  padding-top: 5px;
  line-height: 1.2;
  word-wrap: break-word;
}

.l-rec-telo a {
  color: #333;
}

.l-rec-footer {
  color: #666;
  font-size: 13px;
  margin-top: 3px;
}

h3.recommend {
  border-bottom: 1px solid #ddd;
  padding: 15px 0 10px 0;
  margin: 20px 0 10px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  color: #333;
  font-weight: 400;
}

.menu-info a {
  display: block;
  font-size: 15px;
  color: var(--tertiary);
  margin-bottom: 8px;
}

.menu-info a.active {
  color: #1ca1f3;
}

#myChart {
  max-width: 96%;
}

/* Footer */
footer {
  background-color: #edeeef;
  clear: both;
  color: #333;
  padding: 10px 20px 20px 20px;
  overflow: hidden;
  margin-top: 20px;
}

.text-info {
  width: 20%;
  float: left;
}

.text-oth {
  width: 36%;
  float: left;
}

.p-head,
.p-head-n {
  color: #333;
  font-size: 16px;
  position: relative;
  margin-bottom: 20px;
}

a.footer {
  display: block;
  font-size: 13px;
  margin-bottom: 3px;
  color: #333;
}

a.footer:hover {
  color: #666;
}

.p-head-n {
  margin-bottom: 10px;
}

.p-head::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 3px;
  bottom: -10px;
}

.p-head.one::before {
  background-color: #19bca1;
}

.p-head.two::before {
  background-color: #d6ae01;
}

.p-head.three::before {
  background-color: #f56400;
}

.md-icon.discord {
  width: 31px;
  height: 31px;
  fill: none;
  stroke: #07c;
  vertical-align: middle;
}

i.github {
  font-size: 17px;
  color: #07c;
}

.last-box {
  font-size: 13px;
  color: #666;
  padding: 1px 0;
}

/* dark */
.dark {
  background: #333;
  color: var(--secondary);
}

.dark header,
.dark #stHeader.sticky,
.dark .no-answer,
.dark .space-info,
.dark .profile-box-telo,
.dark .box.profile-telo .post-telo,
.dark .banner,
.dark .bar-space-no {
  border-bottom: 1px solid #222;
  background: #222;
  color: #fff;
}

.dark a,
.dark .post-footer .date,
.dark .post-footer-full .date,
.dark .post-footer-full,
.dark .na,
.dark a.menu.active,
.dark .info-n.active,
.dark .favcomm,
.dark .showpost,
.dark .l-rec {
  color: #888;
}

.dark a:hover,
.dark .login-nav label,
.dark .p-head,
.dark .p-head-n,
.dark h1.profile,
.dark .nick span,
.dark .header-right i.icon,
.dark .dropdown-menu a:hover,
.dark .space-info-desc,
.dark h3.recommend {
  color: #eee;
}

.dark blockquote,
.dark .menu-info {
  background-color: #555;
}

.dark .post-footer {
  border: solid 1px #444;
}

.dark header a,
.dark .u-url .title,
.dark .banner h1 {
  color: #fff;
}

.dark .space-no-user,
.dark textarea {
  color: #eee;
  background-color: #222;
}

.dark .comments_subtree:target,
.dark .comments_subtree.edit,
.dark .dropdown-menu,
.dark footer {
  background-color: #222;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--secondary);
  min-width: 155px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 21;
  right: 6px;
  top: 25px;
  padding: 2px 4px 4px 4px;
  border-radius: 3px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu a {
  color: var(--tertiary);
  display: block;
  padding: 8px 9px 1px 6px;
  font-size: 15px;
}

.dropdown-menu a span.ti-angle-down:hover,
.dropdown-menu a:hover {
  color: var(--primary);
}

.login-nav-home {
    margin-top: 15px;
}

.to-user {
    background: #e7edf3;
    color: #667d99;
    border-radius: 4px;
    padding: 2px 5px;
    border: 0!important;
}

@media (max-width: 1050px) {
  aside {
    margin: 0 15px 20px 0;
    width: 190px;
  }
}

@media (max-width: 810px) {
  main,
  main.w-75,
  img.img-post { width: 100%; }

  .no-mob,
  aside { display: none; }
  header { margin-left: 0; }
  .no-pc { display: block; }
  .column { width: 19%; }
  input.add,
  input.add-url { width: 94%; }
  .text-oth { width: 46%; }
  .text-info { width: 40%; }
}

@media (max-width: 704px) {
  form.form { display: none; }
}

@font-face {
  font-family: 'icons';
  src: url('./fonts/Simple-Line-Icons.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.icon {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: inherit;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon::before {
  display: inline-block;
}

a:hover .icon::before {
  text-decoration: none;
}

.icon.size-actual::before { content: "\e058"; }
.icon.star::before { content: "\e09b"; }
.icon.graph::before { content: "\e06b"; }
.icon.bubbles::before { content: "\e04a"; }
.icon.grid::before { content: "\e06a"; }
.icon.user::before { content: "\e005"; }
.icon.people::before { content: "\e001"; }
.icon.calendar::before { content: "\e075"; }
.icon.pencil::before { content: "\e05f"; }
.icon.settings::before { content: "\e09a"; }
.icon.envelope::before { content: "\e086"; }
.icon.arrow-down::before { content: "\e604"; }
.icon.link::before { content: "\e08d"; }
.icon.bell::before { content: "\e027"; }
.icon.shield::before { content: "\e00e"; }
.icon.options-vertical::before { content: "\e602"; }
.icon.frame::before { content: "\e038"; }
.icon.logout::before { content: "\e065"; }
.icon.lock::before { content: "\e08e"; }
.icon.pin::before { content: "\e031"; }
.icon.trash::before { content: "\e054"; }
.icon.github::before { content: "\e60c"; }
.icon.action-undo::before { content: "\e050"; }
.icon.action-redo::before { content: "\e051"; }
.icon.energy::before { content: "\e020"; }
.icon.trophy::before { content: "\e006"; }
.icon.home::before { content: "\e069"; }
.icon.fire::before { content: "\e01c"; }
.icon.diamond::before { content: "\e043"; }
.icon.doc::before { content: "\e085"; }
.icon.question::before { content: "\e05d"; }
.icon.book-open::before { content: "\e04c"; }
.icon.eye::before { content: "\e087"; }
.icon.info::before { content: "\e08b"; }
.icon.cloud-upload::before { content: "\e084"; }
.icon.close::before { content: "\e082"; }
.icon.badge::before { content: "\e028"; }
