html {
  height: 100%;
  overflow-y: scroll;
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

:root {
  --primary: #222;
  --secondary: #fff;
  --tertiary: #5b7083;
  --quaternary: #e45735;
}

body {
  line-height: 1.46;
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  color: var(--primary);
  min-height: 100%;
  background-color: #f3f3f3;
}

header {
  z-index: 10;
  padding: 5px 5px 10px 5px;
  box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
  background-color: #fff;
  color: var(--tertiary);
}

main {
  overflow: hidden;
  width: calc(100% - 315px);
  float: left;
  margin-right: 15px;
}

aside {
  position: relative;
  float: right;
  width: 300px;
}

body > main {
  padding: 0.4rem 0.4rem;
}

a {
  color: #275ec2;
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:focus,
a.active {
  color: var(--quaternary);
}

.center {
  text-align: center;
}

.lowercase {
  text-transform: lowercase;
}

.green {
  color: #390;
}

.red,
.lo {
  color: var(--quaternary);
}

.translation,
.trust-level {
  font-style: italic;
  background: #f5efe3;
  color: #47340c;
  padding: 2px 4px;
  border-radius: 6px;
}

.trust-level {
  background-color: rgba(255, 148, 76, 0.2);
  color: rgba(33, 32, 31, 0.5);
}

.wrap {
  padding: 0.7rem 0.4rem 0.3rem 0.4rem;
  margin: 0 auto;
  max-width: 1180px;
  position: relative;
  display: flex;
}

.wrap.no-flex,
.space-cover-box .wrap,
.space-box .wrap {
  max-width: 1290px;
  padding: 0.7rem 0.4rem 0.3rem 0.4rem;
  margin: 0 auto;
  position: relative;
  display: block;
}

.sticky {
  position: sticky;
  top: 15px;
}

.sticky.recommend {
  top: 45px;
}

.white-box {
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(144, 170, 185, 0.3);
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 2px;
}

.inner-padding {
  padding: 5px 15px;
}

.inner-padding.big {
  padding: 15px;
}

main.w-100 {
  width: 100%;
  max-width: 100%;
}

#h-200 {
  height: 200px;
}

#h-100 {
  height: 100px;
}

h1 {
  font-weight: 400;
  font-size: 1.2rem;
}

h1 span {
  vertical-align: middle;
}

h3.lo {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 300;
}

.max-width {
  max-width: 780px;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

.small {
  font-size: 13px;
}

code {
  color: #b63e56;
  background: #f5f2f0;
  padding: 1px 4px;
  font-size: 1.1em;
}

pre code {
  background: #272822;
  color: var(--secondary);
  padding: 2px 14px 2px 10px;
  border-radius: 3px;
  display: inline-block;
  max-width: 100%;
}

a.add-post {
  background: #1ca1f3;
  border: 1px solid #1ca1f3;
  padding: 4px 14px 6px 22px;
  color: #fff;
  border-radius: 10em;
}

.button {
  background: #54b9f7;
  border: 1px solid #54b9f7;
  padding: 5px 14px 5px 14px;
  color: #fff;
  border-radius: 3px;
}

.button:hover {
  background: #439cd3;
  border: 1px solid #439cd3;
}

.dropbtn.nav {
  position: relative;
}

.arrow {
  font-size: 8px;
  margin-left: 4px;
}

.nick span {
  margin-right: 5px;
  color: var(--tertiary);
}

a.add-post:hover {
  background: #fff;
  color: #1ca1f3;
}

a.link {
  color: var(--tertiary);
}

a.link:hover {
  color: var(--primary);
}

.banner {
  padding: 11px 15px 15px 15px;
  background: #f3f1ed;
  color: rgba(33, 32, 31, 0.5);
  font-size: 15px;
  border-radius: 2px;
  text-align: center;
  overflow: hidden;
}

.banner h1 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 21px;
  color: #333;
  font-weight: 400;
  margin: 0 0 5px 0;
}

.comm-telo-body a {
  text-decoration: underline;
}

.answers h2 {
  margin: 0 0 0 4px;
  font-weight: 300;
}

blockquote {
  font-style: italic;
  margin: 0.8em 0 0.8em 0.5em;
  border-left: 2px solid gray;
  padding-left: 15px;
}

a.logo {
  color: #333;
  font-size: 16px;
}

a.logo span {
  color: var(--quaternary);
}

a.logo:hover {
  opacity: 0.8;
}

a.home {
  color: #888;
}

i.icon {
  margin-right: 5px;
}

.sb-telo {
  margin: 15px 0;
}

.sb-date {
  margin-left: 20px;
  color: var(--tertiary);
}

.sb-telo a {
  color: var(--primary);
  margin-left: 20px;
  display: block;
}

.recommend-telo a {
  color: #333;
}

.sb-telo a:hover,
.recommend-telo a:hover {
  color: var(--tertiary);
}

.nav {
  float: right;
  margin-left: 30px;
}

.header-right i.icon {
  vertical-align: middle;
}

.header-right i.icon.pencil {
  color: var(--secondary);
}

.header-right a:hover > i.icon.pencil {
  color: #1ca1f3;
}

.notif i.icon.bell,
.dropdown-menu i.icon.shield {
  color: var(--quaternary);
}

i.icon.info,
.no-answer i.icon.lock {
  color: #390;
}

.header-left,
.header-right {
  display: inline-block;
}

.mlogout {
  color: var(--tertiary);
}

hr {
  border: none;
  color: #ddd;
  clear: both;
  background-color: #ddd;
  height: 1px;
}

.pagination {
  margin: 5px 10px 10px 0;
  float: left;
  clear: both;
}

/* Формы и кнопки */
textarea {
  width: 100%;
  border: 0.05rem solid #caced7;
  font-size: 16px;
  padding: 1px 6px;
}

.form {
  max-width: 40rem;
}

.form.mini {
  max-width: 20rem;
}

.form-label {
  max-width: 40rem;
  display: block;
  line-height: 1rem;
  padding: 0.4rem 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

.form-input {
  transition: all 0.2s ease;
  appearance: none;
  background: #fff;
  background-image: none;
  border: 0.05rem solid #caced7;
  border-radius: 0;
  color: #50596c;
  display: block;
  font-size: 0.8rem;
  height: 1.8rem;
  line-height: 1rem;
  max-width: 100%;
  outline: none;
  padding: 0.35rem 0.4rem;
  position: relative;
  width: 100%;
}

.form-input:focus,
textarea:focus {
  box-shadow: 0 0 0 0.1rem rgba(38, 139, 210, 0.2);
  border-color: #268bd2;
}

.form-input {
  max-width: 40rem;
}

.boxline {
  clear: both;
  margin-bottom: 0.9rem;
}

.box_h {
  font-size: 0.8rem;
  line-height: 0.9rem;
  margin: 0.2rem;
  color: var(--tertiary);
}

.cancel {
  background: transparent;
  border: none;
  color: var(--tertiary);
}

/* Форма авторизации */
.login-nav {
  width: 100%;
  margin-bottom: 20px;
}

.login-nav label {
  line-height: 13px;
  margin-bottom: 7px;
  display: block;
}

.login-nav input {
  height: 26px;
  border: none;
  border-radius: 0;
  background: #f5f8fa;
  border-bottom: 2px solid #e6ecf0;
  box-shadow: none;
  outline: 0;
  color: #004874;
  width: 100%;
}

.login-nav input:hover {
  border-bottom: 2px solid #1ca1f3;
  background: #eff3f6;
}

.login-nav input#rememberme {
  height: 12px;
  width: 12px;
  float: left;
  margin-right: 5px;
}

.login-nav label#rem-text {
  margin-top: 13px;
  padding-top: 3px;
}

.login-nav hr {
  width: 60%;
  margin-top: 22px;
  display: block;
  height: 0.8px;
}

.recover {
  line-height: 16px;
  color: #14171a;
  font-weight: 500;
  opacity: 0.7;
}

.login-nav.register a {
  line-height: 11px;
  color: #5b7083;
  text-transform: uppercase;
}

.login-nav button {
  color: #fff;
  background: #1ca1f3;
  border: 1px solid #1ca1f3;
  outline: 0;
  padding: 10px 15px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
  width: 100%;
  text-transform: uppercase;
  border-radius: 10em;
}

.login-nav button:hover {
  color: #1ca1f3;
  background: #fff;
}

/* Поиск */
input.form-search {
  border: 1px solid #e6ecf0;
  background-color: #e6ecf0;
  border-radius: 10em;
  padding: 2px 0 2px 10px;
  height: 25px;
  color: #14171a;
  margin: 0 30px;
  width: 300px;
}

input.form-search:hover {
  border: 1px solid #e6ecf0;
  background-color: #fff;
}

input.form-search:focus {
  border: 1px solid #1ca1f3;
  background-color: #fff;
}

form.form {
  display: inherit;
}

/* Sidebar */
aside .stat {
  text-transform: lowercase;
}

aside a.my {
  color: var(--tertiary);
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}

aside a.my.active {
  color: #1ca1f3;
}

/* Диалог */
.alert-danger {
  color: #e83e8c;
}

.no-content,
.no-answer {
  padding: 10px 15px;
  margin: 10px 0;
  background-color: lightyellow;
}

.notif-color-1 {
  background: #f89406;
}

/* Урезанный пост на главной */
.showpost {
  margin: 10px 0 5px 0;
  display: block;
  font-size: 16px;
}

.show_detail.hide {
  display: none;
}

.shown_post {
  background: #eff3f6;
  padding: 1px 15px;
  color: #333;
}

.full-post-home,
.post-telo.full {
  overflow: hidden;
  margin-bottom: 22px;
}

.post-body img.thumb,
img.thumb {
  margin: -25px 0 10px 10px;
  float: right;
  width: 70px;
  border-radius: 2px;
}

.full-post-home img.thumb {
  margin: 10px 20px 10px 10px;
}

.fuul-head {
  margin: 0 0 5px 0;
}

.fuul-head a {
  color: var(--tertiary);
}

/* Посты */
.post-header {
  padding: 15px 15px 0 15px;
  overflow: hidden;
}

.post-header img {
  vertical-align: middle;
}

.post-header a {
  color: #333;
}

.post-footer {
  padding: 0 15px 10px 15px;
  overflow: hidden;
  color: var(--tertiary);
}

.post-details {
  padding: 0 15px;
}

img.img-post,
.post-body img {
  width: 100%;
}

.post-img a:hover > img {
  opacity: 0.8;
}

.lo-post {
  max-width: 660px;
  background: #f3f3f3;
  padding: 5px 5px 5px 10px;
  margin: 10px 0;
}

.post_url_detal {
  margin: 0 0 20px 0;
  display: block;
  font-style: italic;
}

.telo-detail_post.dell {
  background-color: rgb(246, 196, 184);
  padding-left: 10px;
}

.telo-detail_post,
.answers {
  padding: 15px;
}

.telo-detail_post .title {
  padding: 0;
}

.post-full-footer {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 5px;
  color: var(--tertiary);
}

.img-post-bl {
  margin: 15px 0 0 0;
}

.telo-fav-answ {
  background: #f3f3f3;
  padding: 1px 15px;
  max-width: 700px;
  color: var(--tertiary);
}

.voters-fav {
  float: left;
  width: 30px;
  height: 45px;
  margin: 3px 0 0 0;
}

.title {
  margin: 3px 0 0 0;
  font-size: 21px;
  padding: 0 15px;
  margin-right: 4px;
  font-weight: 500;
  color: #333;
}

.title:hover {
  color: var(--quaternary);
}

#stHeader {
  display: none;
}

#stHeader.sticky {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #eee;
  background: #fff;
  z-index: 999;
  font-size: 18px;
  padding: 5px;
}

#stHeader.sticky a {
  color: var(--quaternary);
}

.date {
  color: var(--tertiary);
  text-transform: lowercase;
  margin: 0 0 0 5px;
}

.date.ots {
  margin: 0 0 0 12px;
}

.v-ots {
  margin: 15px 0;
}

.post-footer-full {
  color: var(--tertiary);
  display: inline-block;
}

.post-footer a,
.post-footer-full a {
  color: var(--tertiary);
}

.post-footer a:hover,
.post-footer-full a:hover {
  color: #333;
}

img.ava {
  border-radius: 2px;
  vertical-align: middle;
  width: 18px;
}

.search-info,
.search-info a {
  color: var(--tertiary);
  text-transform: lowercase;
  margin-top: 10px;
}

.search-info img {
  vertical-align: middle;
  margin-right: 5px;
  border-radius: 2px;
}

.search-title {
  font-size: 21px;
  margin-bottom: 10px;
}

.search {
  margin-bottom: 20px;
}

.no-md p {
  margin: 2px 0;
}

.fl {
  padding: 5px;
}

.fl.active {
  background: rgba(82, 186, 213, 0.1);
  display: table;
}

.bar-space-telo {
  display: flex;
  align-items: center;
  padding: 5px 0;
  margin-bottom: 3px;
  width: 140px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  color: var(--tertiary);
}

.bar-space-telo img {
  margin-right: 6px;
  width: 21px;
  height: 21px;
  border-radius: 2px;
  vertical-align: middle;
}

a.space-u,
.space a.space-u,
.post_url {
  font-size: 10pt;
  color: var(--tertiary);
  font-style: italic;
  vertical-align: middle;
}

a.space-u:hover,
.space a.space-u:hover,
.post_url:hover {
  color: var(--primary);
}

.bar-title {
  color: var(--tertiary);
  text-transform: uppercase;
  margin: 8px 0 0;
}

/* Ответы */
.line {
  border-top: 2px dotted #ddd;
  margin-bottom: 20px;
}

.line-qa {
  border-top: 1px solid #eee;
  margin-left: 30px;
}

ol.answer-telo {
  padding: 0;
  margin: 0;
}

ol.dell.answer-telo {
  margin: 25px;
  color: #888;
}

.answ-telo_bottom {
  margin-bottom: 20px;
}

.answ-telo-body p {
  margin: 5px 0 10px 0;
  font-size: 15px;
}

.answ-header .user {
  margin: 0 0 0 3px;
  text-transform: lowercase;
}

/* Комментарии */
.reply {
  display: none;
}

.reply.active {
  display: block;
}

.authorpost {
  color: #f8a853;
}

.comments_subtree,
.answers_subtree {
  position: relative;
  list-style: none;
}

.comm_subtree:target,
.comm_subtree.edit,
.answers_subtree:target,
.answers_subtree.edit {
  -webkit-background-clip: content-box;
  background-clip: content-box;
  background-color: lightyellow;
}

.container {
  padding: 5px;
}

.block-comments,
.block-answers {
  margin: 5px 0 5px 0;
}

ol.dell.comment-telo,
.dell.comm-telo_bottom {
  color: #888;
}

ol.comment-telo.one {
  padding: 0;
}

ol.comment-telo.two {
  margin-left: 25px;
}

ol.comment-telo.three {
  margin-left: 50px;
}

ol.comment-telo {
  list-style: none;
  padding-left: 23px;
}

.n-comm {
  color: #390;
}

.comm-telo.step {
  margin-left: 30px;
}

.comm-telo_bottom {
  margin-bottom: 20px;
}

.comm-telo-body {
  margin: 5px 0;
  font-size: 15px;
}

.answers .comm-telo {
  list-style: none;
}

.qa-comm .comm-telo-body {
  margin: 2px 0 2px 0;
}

.comm-header .user {
  margin: 0 0 0 3px;
  text-transform: lowercase;
}

.comments .comm-telo {
  padding: 3px 0 0 0;
  font-size: 10.5pt;
  max-width: 800px;
}

.otst {
  margin: 0 3px;
}

.bar {
  color: var(--tertiary);
  font-size: 9.5pt;
  margin: 0 20px 0 0;
}

.comments_subtree.dell,
.answers_subtree.dell,
.comm_subtree.dell {
  opacity: 0.3;
}

.com-line {
  position: absolute;
  left: -3px;
  border-left: 1px dotted #bbb;
  top: 3px;
  bottom: 0;
}

.answers .comm-telo.qa-comm {
  margin-top: 1px;
  margin-bottom: 1px;
}

.qa-user,
.qa-comm-info {
  font-size: 9.5pt;
  color: #888;
}

.qa-footer {
  width: 130px;
  margin: 10px 0 0;
  padding: 10px 0 10px 0;
  border-radius: 3px;
  border: 1px solid #ddd;
  float: right;
  overflow: hidden;
  text-align: center;
}

.answ-telo.qa-answ {
  overflow: hidden;
}

.qa-ava img {
  border-radius: 500rem;
  width: 64px;
}

.qa-data-info {
  font-size: 12px;
  color: #666;
}

.answers .qa-comm .cm_add_link {
  margin-left: 15px;
}

/* голосование */
.voters,
.voters a,
.voters .answ-up-id,
.voters .comm-up-id,
.telo-detail_post .voters {
  float: left;
}

.voters .score {
  float: left;
  margin: 1px 2px 0 7px;
  color: var(--tertiary);
  font-size: 15px;
}

.answer-telo .voters,
.comm-telo .voters {
  margin: 0 20px 0 0;
}

div.voters .comm-up-id,
div.voters .post-up-id,
div.voters .asnw-up-id {
  border-bottom-width: 11px;
  float: left;
}

.voters .comm-up-id,
.voters .post-up-id,
.voters .answ-up-id {
  border-color: transparent transparent #bbb transparent;
  border-style: solid;
  border-width: 6px;
  width: 0;
  height: 0;
  margin-bottom: 0;
  padding: 0;
  display: block;
  border-bottom-width: 11px;
}

.voters .comm-up-id:hover,
.voters .post-up-id:hover,
.voters .answ-up-id:hover {
  border-color: transparent transparent var(--quaternary) transparent;
}

.voters.active .comm-up-id,
.voters.active .answ-up-id,
.voters.active .post-up-id,
.voters.active .score {
  border-color: transparent transparent var(--quaternary) transparent;
  color: var(--quaternary);
  border-bottom-width: 11px;
  float: left;
}

/* Горизонтальное меню */
.nav-tabs {
  position: relative;
  z-index: 1;
  height: 48px;
  margin: 0;
  padding: 15px;
  list-style: none;
  color: #667d99;
  background: #fff;
  margin-bottom: 20px;
}

.nav-tabs > li {
  margin: 0 10px 0 0;
  float: left;
}

.nav-tabs > li.right {
  float: right;
}

.nav-tabs > li > a {
  line-height: 30px;
  padding: 10px 15px;
  cursor: pointer;
  color: #969696;
  border-bottom: 2px solid transparent;
}

.nav-tabs > li > a:hover {
  border-bottom: 2px solid #ddd;
  color: #646464;
}

.nav-tabs > li.active span {
  line-height: 30px;
  padding: 10px 15px;
  border-bottom: 2px solid var(--quaternary);
  color: #646464;
}

.errors > ul > li {
  color: #e83e8c;
}

.no-pc {
  display: none;
}

.related {
  margin: 0 0 25px 0;
}

.related h3 {
  margin: 0 0 5px 0;
  font-weight: 300;
  text-transform: uppercase;
}

.related-box {
  margin: 0 0 5px 0;
}

.related-box span {
  background: #eef0f1;
  width: 21px;
  height: 21px;
  color: #4d5760;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 5px;
  flex-shrink: 0;
}

/* Info пространство и рекомендовано в посте */
.space-info-img {
  margin-top: 10px;
}

.img-space {
  width: 35px;
  height: 35px;
  border-radius: 2px;
}

.space-info-img .img-space {
  vertical-align: middle;
  margin-right: 8px;
}

.space-info-title {
  font-size: 16px;
  vertical-align: middle;
}

.l-rec-small {
  margin-bottom: 10px;
  overflow: hidden;
}

.l-rec {
  font-size: 26px;
  float: left;
  color: rgba(48, 41, 41, 0.51);
  margin-top: 2px;
}

.l-rec-telo {
  margin-left: 42px;
  padding-top: 5px;
  line-height: 1.2;
  word-wrap: break-word;
}

.l-rec-telo a {
  color: #333;
  font-size: 15px;
}

.l-rec-footer {
  color: #666;
  margin-top: 3px;
}

h3.recommend {
  border-bottom: 1px solid #ddd;
  padding: 15px 0 10px 0;
  margin: 0 0 10px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333;
  font-weight: 400;
}

.menu-info a {
  display: block;
  font-size: 15px;
  color: var(--tertiary);
  margin: 5px 0 5px 0;
}

.menu-info a.active {
  color: #1ca1f3;
}

#myChart {
  max-width: 96%;
}

/* Footer */
footer {
  background-color: #3c464d;
  clear: both;
  padding: 10px 20px 20px 20px;
  overflow: hidden;
  margin-top: 20px;
  color: #fff;
}

.text-info {
  width: 20%;
  float: left;
}

.text-oth {
  width: 36%;
  float: left;
}

.p-head,
.p-head-n {
  position: relative;
  margin-bottom: 20px;
}

footer a.footer {
  display: block;
  margin-bottom: 3px;
  color: #fff;
}

.p-head-n {
  margin-bottom: 10px;
}

.p-head::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 3px;
  bottom: -10px;
}

.p-head.one::before {
  background-color: #19bca1;
}

.p-head.two::before {
  background-color: #d6ae01;
}

.p-head.three::before {
  background-color: #f56400;
}

.md-icon.discord {
  width: 31px;
  height: 31px;
  fill: none;
  stroke: #fff;
  vertical-align: middle;
}

i.github {
  font-size: 17px;
  color: #fff;
}

footer a.footer:hover,
i.github:hover {
  color: #ddd;
}

.md-icon.discord:hover {
  stroke: #ddd;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--secondary);
  min-width: 155px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 21;
  right: 6px;
  top: 25px;
  padding: 2px 4px 4px 4px;
  border-radius: 3px;
}

.dropdown-menu.show {
  display: block;
}

.dr-menu {
  color: var(--tertiary);
  display: block;
  padding: 5px 9px 5px 6px;
  font-size: 15px;
}

.dr-menu:hover {
  background: rgba(0, 154, 97, 0.08);
  color: var(--quaternary);
  text-decoration: none;
}

/* dark */
.dark {
  background: #222;
  color: var(--secondary);
}

.dark header,
.dark #stHeader.sticky,
.dark footer {
  background: #111;
}

.dark .white-box,
.dark .nav-tabs,
.dark .dropdown-menu {
  background: #282828;
}

.dark input.form-search,
.dark .banner {
  background: #282828;
  border: 1px solid #282828;
  color: #eee;
}

.dark .comm_subtree:target,
.dark .comm_subtree.edit,
.dark .answers_subtree:target {
  background: #111;
  color: #fff;
  padding: 5px;
}

.dark header,
.dark .title,
.dark a,
.dark a.logo,
.dark a.link,
.dark .nick span,
.dark .banner,
.dark .banner h1,
.dark .nav-tabs > li.active span {
  color: #fff;
}

.dark a:hover {
  color: #eee;
}

.to-user {
  border-radius: 3px;
  background-color: #e1ecf4;
  padding: 1px 4px;
}

@media (max-width: 810px) {
  .no-mob,
  aside { display: none; }
  header { margin-left: 0; }
  .no-pc { display: block; }
  .column { width: 19%; }

  main,
  main.w-75 {
    width: 100%;
    margin-right: 0;
  }

  .text-oth { width: 46%; }
  .text-info { width: 40%; }
  .nav { margin-left: 15px; }
}

@media (max-width: 704px) {
  form.form { display: none; }
}

@font-face {
  font-family: 'icons';
  src: url('./fonts/Simple-Line-Icons.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.icon {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: inherit;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon::before {
  display: inline-block;
}

a:hover .icon::before {
  text-decoration: none;
}

.icon.red.ban-space {
  font-size: 48px;
}

.icon.size-actual::before { content: "\e058"; }
.icon.star::before { content: "\e09b"; }
.icon.graph::before { content: "\e06b"; }
.icon.bubbles::before { content: "\e04a"; }
.icon.grid::before { content: "\e06a"; }
.icon.user::before { content: "\e005"; }
.icon.people::before { content: "\e001"; }
.icon.calendar::before { content: "\e075"; }
.icon.pencil::before { content: "\e05f"; }
.icon.settings::before { content: "\e09a"; }
.icon.envelope::before { content: "\e086"; }
.icon.arrow-down::before { content: "\e604"; }
.icon.link::before { content: "\e08d"; }
.icon.bell::before { content: "\e027"; }
.icon.shield::before { content: "\e00e"; }
.icon.options-vertical::before { content: "\e602"; }
.icon.frame::before { content: "\e038"; }
.icon.logout::before { content: "\e065"; }
.icon.lock::before { content: "\e08e"; }
.icon.pin::before { content: "\e031"; }
.icon.trash::before { content: "\e054"; }
.icon.github::before { content: "\e60c"; }
.icon.action-undo::before { content: "\e050"; }
.icon.action-redo::before { content: "\e051"; }
.icon.energy::before { content: "\e020"; }
.icon.trophy::before { content: "\e006"; }
.icon.home::before { content: "\e069"; }
.icon.fire::before { content: "\e01c"; }
.icon.diamond::before { content: "\e043"; }
.icon.doc::before { content: "\e085"; }
.icon.question::before { content: "\e05d"; }
.icon.book-open::before { content: "\e04c"; }
.icon.eye::before { content: "\e087"; }
.icon.info::before { content: "\e08b"; }
.icon.cloud-upload::before { content: "\e084"; }
.icon.close::before { content: "\e082"; }
.icon.badge::before { content: "\e028"; }
