.profile-box {
  margin-bottom: 10px;
  margin-top: -1.5em;
  height: 120px;
}
.profile-header {
  background: #fff;
  overflow: hidden;
  margin-top: 65px;
  border-radius: 13px;
}

.profile-telo {
  margin: 60px 0 0 60px;
}

h1.profile {
  font-weight: 300;
  margin: 20px 0 20px 0;
  font-size: xx-large;
}

.right.pm {
  margin: 15px 10px 0 0;
  font-size: 21px;
}

.box label {
  width: 12em;
}

.gravatar {
  border-radius: 100% 100%;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: -55px;
}

.gravatar img {
  border-radius: 50px;
  height: 100px;
  width: 100px;
  position: absolute;
}

.about {
  max-width: 360px;
  display: inline-block;
} 

.telo-post {
  margin-left: 5px;
}

/* BOX участники */
.all-users {
  display: flex;
  flex-wrap: wrap;
}

.column {
  padding: 1rem 1rem 1rem 0.2rem;
  width: 9.1%;
  min-width: 65px;
}

.user_card {
  text-align: center;
  overflow: hidden;
}

.user_card img:hover {
  opacity: 0.8;
}

.box-footer {
  font-size: 14px;
  color: #888;
}

.gr.small {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.stats {
  margin: 0 auto;
  max-width: 300px;
  margin-top: 20px;
}

.stat-telo {
  display: flex;
}

.d-cont {
  width: 100px;
  text-align: center;
}

.d-cont a {
  font-size: 24px;
  color: #333;
}

.d-cont a:hover {
  color: #e7672e;
}

.d-cont div {
  font-size: 11px;
}

.dark .profile-header {
  background: #333;
}

@media (max-width: 880px) {
  .profile-telo { margin: 30px 0 0 0; }
  footer { padding-top: 2rem; }
}