.profile-box-telo {
  position: relative;
}

.profile-header-telo {
  margin: 10px 0 0 184px;
  color: #666;
}

.profile-about {
  margin: 1px 0 40px 0;
}

.profile-ava {
  position: absolute;
  top: 210px;
  left: 20px;
  z-index: 1;
  border: 4px solid #fff;
  background: #fff;
  border-radius: 4px;
}

.profile-box .profile-ava {
  top: 20px;
}

.profile-cover {
  position: relative;
  height: 240px;
  overflow: hidden;
}

.profile-ava img.ava {
  width: 160px;
  height: 160px;
  border-radius: 4px;
}

h1.profile {
  font-size: 1.7rem;
  margin: 0 0 15px 0;
  color: #333;
}

.right.pm {
  color: #fff;
  position: absolute;
  top: 30px;
  right: 8px;
  font-size: 24px;
}

.stats {
  float: left;
  margin: 10px 0 0 0;
  width: 165px;
}

.stats.no-cover {
  margin: 40px 0 0 0;
}

.box.profile-telo {
  width: calc(100% - 230px);
  float: left;
  margin: 18px 0 0 50px;
}

.box.profile-telo .post-body {
  margin-left: 0;
}

.box.profile-telo .post-telo {
  margin-bottom: 12px;
  background-color: #f3f3f3;
  padding: 10px;
  display: table;
}

h3.badge {
  border-bottom: 1px solid #ddd;
  padding: 5px 0 10px 0;
  margin: 0 0 10px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  color: #333;
  font-weight: 400;
}

.box.profile-telo h2,
.box.profile-telo h3 {
  font-weight: 400;
  font-size: 18px;
  margin: 0 0 10px 0;
}

.profile-space {
  margin: 8px 0 8px 0;
}

.all-users {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.all-users > div {
  height: 140px;
  text-align: center;
}

.gr.small {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.profile-box-telo .box.wide label {
  width: 9.5em;
}

.profile-badge i.icon {
  font-size: 21px;
}

.icon.badge {
  color: #390;
}

.profile-about blockquote {
  margin: 0.8em 0 0.8em 0;
}

.dark h3.badge,
.dark h1.profile {
  color: #fff;
}

.dark .box.profile-telo .post-telo {
  background-color: #333;
}

@media (max-width: 890px) {
  .profile-ava img.ava {
    width: 110px;
    height: 110px;
    margin-top: -60px;
  }
 
  .box.profile-telo {
    width: 100%;
    margin: 20px 0 0 0;
  }

  body .profile-box-cover {
    min-height: 210px;
  }

  .profile-about { margin: 5px 0 0 0; }
  .profile-header-telo { margin: 15px 0 0 134px; }
  .stats { width: 100%; }
}
