.wmd-prompt-background {
    background-color: Black;
}

.wmd-prompt-dialog {
    border: 1px solid #999999;
    background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
}

.wmd-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999999;
    color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
    border: 1px solid #888888;
    font-family: trebuchet MS, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}

.mono {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.noscroll {
    height: 100vh;
    overflow-y: hidden;
}

.clearfix:before,.fmt:before,.clearfix:after,.fmt:after {
    content: " ";
    display: table
}

.clearfix:after,.fmt:after {
    clear: both
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.pull-right {
    float: right !important
}

.pull-left {
    float: left !important
}

.hide {
    display: none !important
}

.show {
    display: block !important
}

.invisible {
    visibility: hidden
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42858;
    color: #333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);

}

.editor {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 4px
}
.editor * {box-sizing: border-box;}

.editor .wmd-input.mono.form-control {
    padding-top: 15px;
    resize: none;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4
}

.editor__resize {
    position: absolute;
    width: 120px;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: row-resize;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize
}

.editor .form-control {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)
}

.editor_fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    margin-top: 0;
    border: none;
    width: 100%;
    height: 100vh;
    background-color: #F6F6F6
}

.editor_fullscreen .wmd {
    height: 100%
}

.editor_fullscreen .wmd .editor-toolbar {
    position: fixed;
    top: 0;
    width: 100%
}

.editor_fullscreen .wmd .wmd-input {
    height: 100%
}

.editor_fullscreen .editor-mode a.editor__menu--live {
    display: block
}

.editor.liveMode .wmd {
    width: 100%
}

.editor.liveMode .editor-preview {
    overflow: auto;
    width: 100%
}

.editor.liveMode .editor-line {
    left: 50%
}

.editor.editMode .wmd {
    width: 100%
}

.editor.editMode .editor-preview {
    left: 100%
}

.editor.editMode .editor-line {
    left: 100%
}

.editor.previewMode .editor-preview,.editor.previewMode .editor-mode {
    left: 0;
    width: 100%
}

.editor.previewMode .editor-preview {
    border-left: none
}

.editor.previewMode .editor-mode {
    left: 1px
}

.editor.previewMode .editor-line {
    left: -1px
}

.editor.previewMode .editor__menu li {
    display: none
}

.editor-toolbar {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 106;
 
}

.editor__menu,.editor-mode {
    list-style: none;
    margin: 0;
    padding: 0 5px;
    background-color: #FFF;
}

.editor__menu li,.editor-mode li {
    float: left;
    margin: 0 2px;
    vertical-align: text-top
}

.editor__menu a,.editor-mode a {
    cursor: pointer;
    display: block;
    border: 5px solid #FFF;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 380px 60px;
    background-image: url(editor@2x.png);
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.editor__menu a.muted,.editor__menu a.muted:hover,.editor-mode a.muted,.editor-mode a.muted:hover {
    background-position-y: -20px;
    background-color: #f6f6f6;
    border-color: #f6f6f6;
    cursor: default
}

.editor__menu a:hover,.editor__menu a.active,.editor-mode a:hover,.editor-mode a.active {
    border-color: #f6f6f6;
    background-color: #f6f6f6;
    background-position-y: -40px;
    text-decoration: none
}

.editor__menu .active,.editor-mode .active {
    color: #999
}

.editor__menu--bold,.editor-mode--bold {
    background-position: -1px 0px
}

.editor__menu--italic,.editor-mode--italic {
    background-position: -21px 0px
}

.editor__menu--link,.editor-mode--link {
    background-position: -40px 0px
}

.editor__menu--quote,.editor-mode--quote {
    background-position: -60px 0px
}

.editor__menu--code,.editor-mode--code {
    background-position: -80px 0px
}

.editor__menu--img,.editor-mode--img {
    background-position: -100px 0px
}

.editor__menu--ol,.editor-mode--ol {
    background-position: -120px 0px
}

.editor__menu--ul,.editor-mode--ul {
    background-position: -140px 0px
}

.editor__menu--title,.editor-mode--title {
    background-position: -160px 0px
}

.editor__menu--hr,.editor-mode--hr {
    background-position: -180px 0px
}

.editor__menu--undo,.editor-mode--undo {
    background-position: -200px 0px
}

.editor__menu--redo,.editor-mode--redo {
    background-position: -220px 0px
}

.editor__menu--zen,.editor-mode--zen {
    background-position: -240px 0px
}

.editor__menu--unzen,.editor-mode--unzen {
    background-position: -260px 0px
}

.editor__menu--two,.editor-mode--two {
    background-position: -280px 0px
}

.editor__menu--help,.editor-mode--help {
    background-position: -300px 0px
}

.editor__menu .editor__menu--divider,.editor-mode .editor__menu--divider {
    margin: 5px 4px;
    width: 0;
    height: 20px;
    padding-left: 0;
    padding-right: 0;
    border-right: 1px solid #ddd;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize
}

.editor__menu--edit,.editor-mode--edit {
    background-position: -320px 0px
}

.editor__menu--live,.editor-mode--live {
    background-position: -340px 0px
}

.editor__menu--preview,.editor-mode--preview {
    background-position: -360px 0px
}

.editor-help {
    border-bottom: none;
    background-color: #faf2cc;
    font-size: 13px
}

.editor-help .nav-tabs {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: none;
    background-color: #fcf8e3
}

.editor-help .nav>li {
    margin: 0
}

.editor-help .nav>li>a {
    margin: 0;
    padding: 6px 10px;
    border: none;
    color: #8a6d3b;
    border-radius: 0
}

.editor-help .nav>li.active>a,.editor-help .nav>li>a:hover {
    border: none;
    background-color: #faf2cc;
    color: #8a6d3b;
    cursor: pointer
}

.editor-help .nav>li.active>a {
    font-weight: bold
}

.editor-help-content {
    margin-top: 30px;
    padding: 10px
}

.editor-help-content pre {
    padding: 5px 8px;
    border: none;
    background-color: #fcf8e3;
    font-size: 12px
}

.editor-help-content code {
    white-space: normal
}

.widget-editor__wrap {
    background: #F6F6F6;
    border-top: 1px solid #DDD
}

.widget-editor .widget-editor__help {
    margin-top: 40px
}

.wmd {
    position: relative;
    overflow: hidden;
    height: auto;
    padding: 0;
    border-right: none;
    -moz-transition: width .3s ease;
    -o-transition: width .3s ease;
    -webkit-transition: width .3s ease;
    transition: width .3s ease
}

.wmd .wmd-input {
    height: 100%;
    min-height: 180px;
    border: none;
    outline: none;
}

.editor-line {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    z-index: 105;
    border-left: 1px solid #CCC;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.editor-preview {
    padding: 2px 5px;
    margin: 11px 0 11px 0;
    border-left: 1px solid #eee;
    top: 0;
    bottom: 0;
    z-index: 100;
    overflow: auto;
    overflow-x: hidden;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}
blockquote {
    border-left: 5px solid #e9e9e9;
    background-color: #f9f9f9;
    clear: both;
    padding: 5px 9px;
}

textarea#wmd-input {
    width: 98%;
    height: 200px;
}

.editor-preview > :first-child { margin-top: 0px !important; }.editor-preview > :last-child { margin-bottom: 0px !important; }.editor-preview a { color: rgb(65, 131, 196); text-decoration: none; }.editor-preview a:hover { text-decoration: underline; }
.editor-preview h1, .editor-preview h2, .editor-preview h3, .editor-preview h4, .editor-preview h5, .editor-preview h6 { margin: 20px 0px 10px; padding: 0px; font-weight: bold; -webkit-font-smoothing: antialiased; }
.editor-preview h4 { font-size: 16px; }
.editor-preview h5 { font-size: 14px; }
.editor-preview p, .editor-preview ul, .editor-preview ol, .editor-preview dl, .editor-preview li, .editor-preview table, .editor-preview pre { margin: 5px 0px; }
.editor-preview > h2:first-child, .editor-preview > h1:first-child, .editor-preview > h1:first-child + h2, .editor-preview > h3:first-child, .editor-preview > h4:first-child, .editor-preview > h5:first-child, .editor-preview > h6:first-child { margin-top: 0px; padding-top: 0px; }
.editor-preview h1 + p, .editor-preview h2 + p, .editor-preview h3 + p, .editor-preview h4 + p, .editor-preview h5 + p, .editor-preview h6 + p { margin-top: 0px; }
.editor-preview ul, .editor-preview ol { padding-left: 30px; }
.editor-preview ul li > :first-child, .editor-preview ol li > :first-child { margin-top: 0px; }
.editor-preview ul li > :last-child, .editor-preview ol li > :last-child { margin-bottom: 0px; }
.editor-preview img { max-width: 100%; }
.editor-preview code, .editor-preview tt { margin: 0px 2px; padding: 0px 5px; white-space: nowrap; border: 1px solid rgb(234, 234, 234); background-color: rgb(248, 248, 248); border-radius: 3px; }
.editor-preview pre > code { margin: 0px; padding: 0px; white-space: pre; border: none; background: transparent; }
.editor-preview .highlight pre, .editor-preview pre { background-color: #555; border: 1px solid rgb(204, 204, 204); font-size: 13px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px; }
.editor-preview pre code, .editor-preview pre tt { background-color: transparent; border: none;color:#fff; }
.editor-preview ul, .editor-preview ul li { list-style: disc outside; }
.editor-preview ol, .editor-preview ol li { list-style: decimal outside; }
.editor-preview ol { padding-left: 2em; }
.editor-preview ul { padding-left: 2em; }

@media screen and (max-width: 720px) {
.editor__menu--preview, .editor__menu--live, .editor__menu--edit, .editor__menu--zen, .wmd-help-button {
    display: none !important;
}

}