/*
 * Images: avatars, logos, previews
 * Изображения (аватарки, логотипы, превью)
 */

.logo {
  font-size: 24px;
  color: var(--header-logo-color);
}

.favicons {
  width: 16px;
  height: 16px;
}

.img-sm {
  width: 24px;
  height: 24px;
}

.img-base {
  width: 36px;
  height: 36px;
}

.img-lg {
  width: 64px;
  height: 64px;
}

.img-xl {
  width: 94px;
  height: 94px;
}

.img-2xl {
  width: 160px;
  height: 160px;
}

.trigger img.img-base:hover {
  opacity: 0.7;
}

.profile-ava {
  position: absolute;
  z-index: 5;
  margin: 60px 10px 0 15px;
  border-radius: var(--rounded);
}

.box-cover-img {
  width: 100%;
  height: 200px;
}

.profile-bg-img.bg-profile {
  height: 90px;
}

.img-preview {
  position: relative;
  max-width: 780px;
}

.img-preview img {
  max-width: 100%;
  border: 1px solid #f3f3f3;
}

.img-preview img:hover {
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 0.2);
}

.cut-content img.cut-preview {
  margin-inline-start: -25px;
  max-width: calc(100% + 50px);
  border-radius: 0;
}

.cut-content img,
.content-body img {
  max-width: 100%;
}

.CodeMirror-line {
  max-width: 800px;
}

img.emoji {
  max-width: 20px;
  display: inline-block;
  border-color: transparent;
}

#inputImg,
.prevImg {
  display: block;
  max-width: 100%;
  max-height: 400px;
  margin: 20px 0 15px 0;
}
