/*
 * @form styles
 *
 * Стили для форм
 */

input,
select,
textarea {
  background-color: var(--form-bg-color);
  border: 1px solid var(--form-border-color);
  color: var(--form-text-color);
  font-size: 16px;
  border-radius: var(--rounded);
}

textarea {
  width: 100%;
}

fieldset input:not([type=radio]):not([type=checkbox]):not([type=range]),
fieldset select {
  width: 100%;
  min-height: 34px;
  padding: 5px;
}

fieldset {
  padding: 0;
  border: 0;
  position: relative;
  margin: 10px 0;
}

fieldset.error input {
  border-color: var(--red);
}

.help {
  font-size: 0.875rem;
  color: var(--gray-600);
}

input:focus,
textarea:focus {
  border: 1px solid var(--form-color-active);
}

label {
  display: block;
  margin-bottom: 4px;
  font-size: 0.875rem;
}

::placeholder {
  color: var(--gray);
}