/*
 * Form styles
 * Стили форм
 */

input,
select,
textarea {
  padding: 6px;
  font-size: 16px;
  color: var(--form-text-color);
  background-color: var(--form-bg-color);
  border: 1px solid var(--form-border-color);
  border-radius: var(--rounded);
}

textarea {
  width: 100%;
}

input:focus-visible,
textarea:focus-visible {
  border-color: var(--form-color-active);
}

input:focus,
textarea:focus {
  border-color: var(--form-color-active);
}

::placeholder {
  color: var(--gray);
}

label {
  display: block;
  margin-bottom: 4px;
  font-size: var(--font-size-sm);
}

fieldset {
  border: 0;
  padding: 10px 0;
  position: relative;
}

fieldset.error input {
  border-color: var(--red);
}

.help {
  font-size: var(--font-size-sm);
  color: var(--gray-600);
}

.form-element .tagify,
.form-element input,
.form-element select,
.form-element textarea {
  width: 80%;
  padding: 6px;
  font-size: 16px;
  color: var(--form-text-color);
  background-color: var(--form-bg-color);
  border: none;
  border-radius: var(--rounded);
}

.form-label {
  float: left;
  width: 17.07%;
  padding: 0 20px 0 0;
  margin-top: 2px;
  line-height: 18px;
  word-wrap: break-word;
  color: var(--gray);
}

.form-element {
  width: 82.93%;
  margin-inline-start: 17.07%;
  margin-bottom: 4px;
}

fieldset.form-big input[type="text"] {
  font-size: 24px;
}

fieldset.form-big .input-label {
  margin-top: 14px;
}

.showPassword {
  position: absolute;
  inset-inline-end: 5px;
  margin: 2px;
  color: var(--gray-600);
}

@media screen and (max-width: 735px) {
  fieldset .input-label {
    margin: 0;
  }

  .form-element,
  .form-control-sublabel {
    width: 100%;
    margin-inline-start: 0;
  }

  fieldset .form-label {
    width: 100%;
    padding: 0 0 6px 0;
    margin: 0;
    vertical-align: baseline;
  }

  .form-element .tagify,
  .form-element input,
  .form-element select,
  .form-element textarea {
    width: 100%;
  }
}
