/*
 * Navigation & dropdown menu
 * Выпадающее меню и навигация
 */

nav {
  position: fixed;
  top: 3.75rem;
  display: block;
  min-width: 15rem;
  max-width: 17rem;
  height: 100%;
  padding: 1.5rem 1.5rem 1.5rem 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.dropdown,
.menu,
.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a i {
  font-size: 1.25rem;
  margin: 0 0.5rem;
}

/* Dropdown base */
.dropdown {
  display: none;
  position: absolute;
  inset-inline-end: 0;
  min-width: 215px;
  padding: 0.5rem;
  background-color: var(--dropdown-bg);
  box-shadow: var(--dropdown-box-shadow);
  border-radius: var(--rounded);
  z-index: 55;
}

.dropdown.user {
  margin-top: 10px;
  padding: 1rem 0 0.7rem 0;
}

.dropdown.left {
  inset-inline-start: 0;
  inset-inline-end: auto;
  width: 150px;
}

.right-close {
  display: block;
  float: right;
  margin-top: -20px;
  padding: 3px 8px 0 0;
  color: var(--gray-600);
}

.user-box {
  display: flex;
  align-items: center;
  padding: 0 0 0.4rem 1rem;
  font-size: 0.975rem;
}

.user-nav li a {
  margin-inline-start: 10px;
}

/* Dropdown & menu links */
.menu a,
.dropdown li > a,
.dropdown li > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 0;
  max-width: 190px;
  padding: 8px;
  gap: 0.7rem;
  color: var(--black);
}

.dropdown li:hover > a,
.dropdown li > a.active,
.dropdown li > div.active {
  color: var(--link-color-hover);
}

.nav-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Menu list */
.menu__left:not(.menu__active) li {
  margin-bottom: 5px;
}

.menu li.active,
.menu li:hover {
  background-color: var(--white);
  border-radius: var(--rounded);
}

.menu li:hover {
  transition-duration: var(--duration-normal);
}

.menu li:hover > a {
  color: var(--gray);
}

.mess li:hover {
  background-color: var(--gray-100);
}

/* Icons in menu */
.menu .icon,
.dropdown ul .icon {
  color: var(--gray);
}

.menu .icon {
  min-width: 24px;
}

.menu .active .icon {
  color: var(--blue);
}

.menu .icon.gray-600 {
  color: var(--gray-600);
}

/* Breadcrumbs */
.breadcrumbs li {
  display: inline;
  color: var(--gray-600);
}

.breadcrumbs li:not(:last-child)::after {
  content: " / ";
}

/* Nav bar & tabs */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 20px 0;
}

ul.nav {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.nav > li {
  padding: 2px 8px;
}

ul.nav.small > li {
  padding: 3px 6px;
}

ul.nav > li > a {
  color: var(--gray);
}

ul.nav > li.active {
  border-bottom: 2px solid var(--blue);
  color: var(--nav-color-active);
}

ul.nav > li.active > a,
ul.nav > li.active a:hover {
  color: var(--nav-color-active);
}

ul.nav > li a:hover {
  color: var(--link-color-hover);
}

.content-tabs {
  display: none;
}

.content-tabs.tab_active {
  display: block;
}
