/*
 * Modals & overlay dialogs
 * Всплывающие окна
 */

.modal {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.model-inner {
  max-width: 600px;
  margin: auto;
  padding: 2em;
  background-color: var(--white);
  border-radius: var(--rounded);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--black);
}

.overlay {
  position: fixed;
  inset: 0;
  background: var(--black);
  opacity: 0.75;
}

/* a11y-dialog */
.dialog-container {
  position: fixed;
  inset: 0;
  z-index: 99;
  display: flex;
}

.dialog-container[aria-hidden="true"] {
  display: none;
}

.dialog-overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(43 46 56 / 0.9);
  animation: fade-in 200ms both;
}

.dialog-content {
  position: relative;
  width: 600px;
  max-width: 90%;
  margin: auto;
  padding: 1em;
  z-index: 6;
  background-color: var(--white);
  border-radius: var(--rounded);
  animation: fade-in 400ms 200ms both, slide-up 400ms 200ms both;
}

@media screen and (min-width: 700px) {
  .dialog-content {
    padding: 2em;
  }
}

.dialog-close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 0;
  font-size: 2em;
  color: var(--gray-600);
  text-align: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: color var(--duration-fast);
}

@media screen and (min-width: 700px) {
  .dialog-close {
    top: 5px;
  }
}
