/*
 * Toast / pop-up notifications
 * Всплывающие уведомления
 */

.notice {
  position: fixed;
  z-index: 2147483647;
  display: inline-block;
  padding: 2px 20px;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  background-color: var(--gray);
  border-radius: var(--rounded);
  animation: toastEffect 3s ease-in;
}

.notice-top {
  top: 1rem;
}

.notice-bottom {
  bottom: 1rem;
}

.notice-left {
  left: 1rem;
}

.notice-right {
  right: 1rem;
}

.notice-center {
  left: 0;
  right: 0;
  margin-inline: auto;
  max-width: fit-content;
}

.dropdown.notif {
  margin-top: 40px;
  min-width: 305px;
  padding: 1rem 0 0.7rem 0;
}

@keyframes toastEffect {
  0%, 100% { opacity: 0; }
  20%, 80% { opacity: 1; }
}
