/*
 * Polls
 * Голосования, опросы
 */

.poll {
  padding: 5px 10px;
  border: 1px solid #f3f4f6;
  list-style: none;
  box-shadow: 0 0 5px rgb(0 0 0 / 0.1);
}

.poll-count {
  float: left;
  width: 48px;
  padding-inline-end: 10px;
  margin-top: 1px;
  font-size: 0.8em;
  color: var(--gray-600);
}

.poll-result {
  padding-inline-start: 48px;
}

.poll-label {
  font-size: 0.9em;
  color: var(--gray);
}

/* Progress: reset appearance */
progress,
progress[role] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-size: auto;
}

progress {
  display: block;
  width: 100%;
  height: 7px;
  margin-bottom: 20px;
  border: 0;
  border-radius: var(--rounded-full);
  background: #f8f8f8;
  overflow: hidden;
  vertical-align: baseline;
}

::-webkit-progress-bar {
  background: #f8f8f8;
}

/* Progress bar colors by value range */
progress[value^="0"]::-moz-progress-bar,
progress[value^="1"]::-moz-progress-bar,
progress[value^="2"]::-moz-progress-bar,
progress[value^="0"]::-webkit-progress-value,
progress[value^="1"]::-webkit-progress-value,
progress[value^="2"]::-webkit-progress-value {
  background-color: #0ea5e9;
}

progress[value^="3"]::-moz-progress-bar,
progress[value^="4"]::-moz-progress-bar,
progress[value^="5"]::-moz-progress-bar,
progress[value^="3"]::-webkit-progress-value,
progress[value^="4"]::-webkit-progress-value,
progress[value^="5"]::-webkit-progress-value {
  background-color: #0085ee;
}

progress[value^="6"]::-moz-progress-bar,
progress[value^="7"]::-moz-progress-bar,
progress[value^="8"]::-moz-progress-bar,
progress[value^="6"]::-webkit-progress-value,
progress[value^="7"]::-webkit-progress-value,
progress[value^="8"]::-webkit-progress-value {
  background-color: green;
}

progress[value^="9"]::-moz-progress-bar,
progress[value="100"]::-moz-progress-bar,
progress[value^="9"]::-webkit-progress-value,
progress[value="100"]::-webkit-progress-value {
  background-color: red;
}
