/*
 * Tables
 * Таблицы
 */

table {
  width: 100%;
  margin-bottom: var(--space-6);
  border-collapse: collapse;
  border-spacing: 0;
}

table td,
table th {
  padding: 5px;
  font-size: 14px;
}

table thead th {
  border-bottom: 2px solid rgb(222 226 230 / 0.5);
  text-align: left;
}

table tr:nth-of-type(2n) {
  background-color: var(--gray-100);
}
