/*
 * Tags & labels (facets)
 * Теги и этикетки
 */

/* Tag base */
.tag-grey,
.tag-yellow,
.tag-violet,
.tag-clear {
  margin-inline-start: 0.25em;
  padding: 0.08rem 0.35rem 0.15rem;
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: lowercase;
  border-radius: var(--rounded);
}

.tag-grey {
  color: #6b3e4a;
  background-color: #ececec;
}

.tag-grey:hover {
  color: #444;
  background-color: #fff;
}

.tag-yellow {
  color: #7b5d5d;
  background-color: #fffcd7;
}

.tag-violet {
  color: #544e4e;
  background-color: var(--violet);
}

.tag-clear {
  color: #707476;
  background-color: var(--white);
  border: 1px solid #e8ebed;
}

.tag-clear:hover {
  color: #707476;
  background-color: #f5f7f8;
}

/* Labels */
.label {
  padding: 3px 10px;
  font-size: var(--font-size-sm);
  font-weight: 400;
  font-style: italic;
  text-transform: lowercase;
}

.label-grey {
  color: var(--gray-600);
  background-color: var(--violet);
}

.label-orange {
  color: var(--gray);
  background-color: #f9ddde;
}

.label-green {
  color: var(--green);
  background-color: #f0f6f3;
}

.label-teal {
  color: var(--white);
  background-color: var(--teal, #0d9488);
}

.label-teal:hover {
  background-color: #339a9c;
  transition: background 0.2s var(--ease-out);
}

/* Tagify */
.tagify {
  width: 100%;
  max-width: 780px;
  background-color: var(--white);
  border-radius: var(--rounded);
}

.tagify--noTags[required] {
  --tags-border-color: var(--red);
}
