/*
 * Additional styles
 *
 * Дополнительные стили
 */
 
body { background-color: var(--gray-100); }

.box,
.box-flex,
.indent-body { background-color: var(--white); }

.indent-body { padding: 15px; }

ul.nav > li.active {
  background-color: var(--black);
  color: var(--white);
}

ul.nav > li.active > a { color: var(--white); }

.user-nav li:hover, .menu li.active, .menu li:hover { background-color: var(--white); }

.active  { color: #eab308; } 
.menu .active .icons { stroke: #eab308; }

.nickname { display: inline-block; }
.nickname::first-letter { color: red; }