/*
 * Additional styles
 *
 * Дополнительные стили
 */

/* пример (example)

@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto.ttf);
}

body {
  font-family: Roboto, -apple-system,BlinkMacSystemFont,Arial,sans-serif;
} */

@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Regular.ttf);
}

.nickname {
  display: inline-block;
}

.nickname::first-letter {
  color: red;
}

.indent-body {
  padding: 15px;
  background-color: var(--white);
}

.active {
  color: #eab308;
}

ul.nav>li.active>a {
  color: var(--nav-color-active);
}
