/*
 * Additional styles
 *
 * Дополнительные стили
 */

/* пример 1 (example 1)

@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Regular.ttf);
}
   
body {
  font-family: Roboto, -apple-system,BlinkMacSystemFont,Arial,sans-serif;
} */


/* пример 2 (example 2)

body { background-color: #f3f3f3; }
.box {  background-color: #fff; }

*/