/*
 * Used intervals in the Agouti project
 *
 * Используемые интервалов в проекте Агути
 */

$px-zero: 0;

$px-five: 5px;
$px-ten: 10px;
$px-fifteen: 15px;
$px-eighteen: 18px;
$px-twenty: 20px;
$px-twenty-five: 25px;
$px-thirty: 30px;
$px-thirty-five: 35px;
$px-forty: 40px;
$px-fifty: 50px;
$px-sixty: 60px; 
$px-seventy: 70px; 
$px-eighty: 80px; 
$px-ninety: 90px;
$px-one-hundred: 100px; 

$width-ten: 10%;
$width-twenty: 20%;
$width-thirty: 30%;
$width-forty: 40%;
$width-fifty: 50%;
$width-sixty: 60%; 
$width-seventy: 70%; 
$width-eighty: 80%; 
$width-ninety: 90%;
$width-one-hundred: 100%; 

$fontSize-xs: 0.75rem;
$fontSize-sm: 0.875rem;
$fontSize-base: 1rem;
$fontSize-lg: 1.125rem;
$fontSize-xl: 1.25rem;
$fontSize-2xl: 1.5rem;
$fontSize-3xl: 1.875rem;
$fontSize-4xl: 2.25rem;
$fontSize-5xl: 3rem;
$fontSize-6xl: 3.75rem;
$fontSize-7xl: 4.5rem;
$fontSize-8xl: 6rem;
$fontSize-9xl: 8rem;

$boxShadow-sm: '0 1px 2px 0 rgb(0 0 0 / 0.05)';
$boxShadow-base: '0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1)';
$boxShadow-md: '0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)';
$boxShadow-lg: '0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1)';
$boxShadow-xl: '0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1)';
$boxShadow-2xl: '0 25px 50px -12px rgb(0 0 0 / 0.25)';
$boxShadow-inner: 'inset 0 2px 4px 0 rgb(0 0 0 / 0.05)';
$boxShadow-none: 'none';
 
