/*
 * Basic Styles
 *
 * Базовые стили
 */

html {
  height: 100%;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

:root {
  --body-bg-color: #f3f4f6;
  --body-color: #222;
  --bg-box: #fff;
  --black: #222;
  --white: #fff;
  --br-box-gray: #ededed;
  --gray-400: #9ca3af;
  --gray-600: #4b5563;
  --blue-100: #dbeafe;
  --slate-100: #f1f5f9;
  --slate-300: #cbd5e1;
}

body.dark {
  --body-bg-color: #030303;
  --body-color: #d1d5db;
  --black: #fff;
  --white: #222;
  --br-box-gray: #111;
  --gray-400: #ccc;
  --gray-600: #ddd;
  --blue-100: #111;
  --slate-100: #333;
  --slate-300: #111;
}

.bg-fons {  
  background-color: var(--body-bg-color); 
  color: var(--body-color);
}

body {
  line-height: 1.5;
  font-family: Helvetica,Arial,sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: #4183c4;
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:focus,
a.active {
  color: #1e70bf;
}

img {
  border-radius: 3px;
  vertical-align: middle;
}

.top0 { top: 0; }
.top20 { top: 20px; }
.top50 { top: 50px; }
.top60 { top: 60px; }
.top70 { top: 70px; }
.right0 { right: 0; }
.right5 { right: 5px; }
.bottom0 { bottom: 0; }
.bottom5 { bottom: 5px; }
.left0 { left: 0; }
.mr-auto { margin: 0 auto; }
.-mr-1 { margin-right: -0.5rem; }
.-mt20 { margin-top: -20px; }
.-mt50 { margin-top: -50px; }
.-mt80 { margin-top: -80px; }
.m0 { margin: 0; }
.mt0 { margin-top: 0; }
.mr0 { margin-right: 0; }
.mb0 { margin-bottom: 0; }
.ml0 { margin-left: 0; }

.m5 { margin: 5px; }
.mt5 { margin-top: 5px; }
.mr5 { margin-right: 5px; }
.mb5 { margin-bottom: 5px; }
.ml5 { margin-left: 5px; }

.m10 { margin: 10px; }
.mt10 { margin-top: 10px; }
.mr10 { margin-right: 10px; }
.mb10 { margin-bottom: 10px; }
.ml10 { margin-left: 10px; }

.m15 { margin: 15px; }
.mt15 { margin-top: 15px; }
.mr15 { margin-right: 15px; }
.mb15 { margin-bottom: 15px; }
.ml15 { margin-left: 15px; }

.m20 { margin: 20px; }
.mt20 { margin-top: 20px; }
.mr20 { margin-right: 20px; }
.mb20 { margin-bottom: 20px; }
.ml20 { margin-left: 20px; }

.mt30 { margin-top: 30px; }
.mt60 { margin-top: 60px; }
.mr30 { margin-right: 30px; }
.mr60 { margin-right: 60px; }
.mb30 { margin-bottom: 30px; }
.ml30 { margin-left: 30px; }
.ml45 { margin-left: 45px; }
.ml60 { margin-left: 60px; }
.ml120 { margin-left: 120px; }

.p0 { padding: 0; }
.pt0 { padding-top: 0; }
.pr0 { padding-right: 0; }
.pb0 { padding-bottom: 0; }
.pl0 { padding-left: 0; }

.p5 { padding: 5px; }
.pt5 { padding-top: 5px; }
.pr5 { padding-right: 5px; }
.pb5 { padding-bottom: 5px; }
.pl5 { padding-left: 5px; }

.p10 { padding: 10px; }
.pt10 { padding-top: 10px; }
.pr10 { padding-right: 10px; }
.pb10 { padding-bottom: 10px; }
.pl10 { padding-left: 10px; }

.p15 { padding: 15px; }
.pt15 { padding-top: 15px; }
.pr15 { padding-right: 15px; }
.pb15 { padding-bottom: 15px; }
.pl15 { padding-left: 15px; }

.p20 { padding: 20px; }
.p60 { padding: 60px; }
.pt20 { padding-top: 20px; }
.pr20 { padding-right: 20px; }
.pb20 { padding-bottom: 20px; }
.pl20 { padding-left: 20px; }

/*
 * Used colors (and background) in Agouti project
 *
 * Используемые цвета (и фон) в проекте Агути
 */
.black { color: var(--black); }
.white { color: var(--white); }
.gray { color: $gray-700; }
.green-600 { color: $green-600; }
.red-500 { color: $red-500; }
.gray-400 { color: var(--gray-400); }
.gray-600 { color: var(--gray-600); }
.sky-500 { color: $sky-500; }

.bg-black { background-color: var(--black); }
.bg-white { background-color: var(--white); }
.bg-green-600 { background-color: $green-600; }
.bg-gray-100 { background-color: $gray-100; }
.bg-yellow-50 { background-color: $yellow-50; } 
.bg-yellow-100 { background-color: $yellow-100; }
.bg-purple-100 { background-color: $purple-100; }
.bg-blue-100 { background-color: var(--blue-100); }
.bg-blue-500 { background-color: $blue-500; }
.bg-sky-50 { background-color: $sky-50; }
.bg-red-200 { background-color: $red-200; }
.bg-pink-800 { background-color: $pink-800; }
.bg-blue-steel-700 { background-color: $blue-steel-700; }

/*
 * Other
 *
 * Другое
 */

.box-shadow { box-shadow: 0 2px 4px -1px rgba(0,0,0,0.15) }
.box-shadow-all { box-shadow: 0 4px 14px rgba(0,0,0,0.15); }
.br-box-gray { border: 1px solid var(--br-box-gray); }
.br-top-dotted { border: 1px dotted #ddd; }
.br-bottom { border-bottom: 1px solid #ddd; }
.border-bottom:last-child { border: 0; }


.br-rd3 { border-radius: 3px; }
.br-rd5 { border-radius: 5px; }
.br-rd20 { border-radius: 20px; }
.br-rd-42 { border-radius: 42%; }
.br-rd-50 { border-radius: 50%; }

.w-auto { width: auto; }
.w-50 { width: 50%; }
.w-90 { width: 90% }
.w-100 { width: 100%; }
.w10 { width: 10px; }
.w20 { width: 20px; }
.w30 { width: 30px; }
.w40 { width: 40px; }
.w50 { width: 50px; }
.w60 { width: 60px; }
.w94 { width: 94px; }
.w110 { width: 110px; }
.w160 { width: 160px; }
.w200 { width: 200px; }
.w400 { width: 400px; }

.h10 { height: 10px; }
.h20 { height: 20px; }
.h30 { height: 30px; }
.h40 { height: 40px; }
.h50 { height: 50px; }
.h60 { height: 60px; }
.h80 { height: 80px; }
.h110 { height: 110px; }
.h160 { height: 160px; }

.max-w-100 { max-width: 100%; }
.max-w200 { max-width: 200px; }
.max-w300 { max-width: 300px; }  
.max-w460 { max-width: 460px; }
.max-w640 { max-width: 640px; }
.max-w780 { max-width: 780px; }
.max-w1240 { max-width: 1240px; }
.max-width { max-width: 1636px; }
.min-h300 { min-height: 300px; }  
.min-h100 { min-height: 100px;}

.z-10 { z-index: 10; }
.z-20 { z-index: 20; }
.z-30 { z-index: 30; }
.z-40 { z-index: 40; }
.z-50 { z-index: 50; }

.text-xs { font-size: 0.75rem; }
.text-sm { font-size: 0.875rem; }
.text-base { font-size: 1rem; }
.text-lg { font-size: 1.125rem; }
.text-xl { font-size: 1.25rem; }
.text-2xl { font-size: 1.5rem; }
.text-3xl { font-size: 1.875rem; }
.text-4xl { font-size: 2.25rem; }
.text-5xl { font-size: 3rem; }
.text-6xl { font-size: 3.75rem; }
.text-7xl { font-size: 4.5rem; }
.text-8xl { font-size: 6rem; }
.text-9xl { font-size: 8rem; }

.font-light { font-weight: 300; }
.font-normal { font-weight: 400; }
.font-medium { font-weight: 500; }
.font-semibold { font-weight: 600; }
.font-bold { font-weight: 700; }

.grid { display:grid; }
.grid-cols-2 { grid-template-columns: repeat(2, minmax(0,1fr)); }
.grid-cols-3 { grid-template-columns: repeat(3, minmax(0,1fr)); }
.grid-cols-6 { grid-template-columns: repeat(6, minmax(0,1fr)); }
.grid-cols-8 { grid-template-columns: repeat(8, minmax(0,1fr)); }
.grid-cols-12 { grid-template-columns: repeat(12, minmax(0,1fr)); }

.col-span-1 { grid-column: span 1 / span 1; }
.col-span-2 { grid-column: span 2 / span 2; }
.col-span-3 { grid-column: span 3 / span 3; }
.col-span-4 { grid-column: span 4 / span 4; }
.col-span-5 { grid-column: span 5 / span 5; }
.col-span-6 { grid-column: span 6 / span 6; }
.col-span-7 { grid-column: span 7 / span 7; }
.col-span-8 { grid-column: span 8 / span 8; }
.col-span-9 { grid-column: span 9 / span 9; }
.col-span-10 { grid-column: span 10 / span 10; }
.col-span-12 { grid-column: span 12 / span 12; }

.gap-2 { gap: 0.5rem; }
.gap-4 { gap: 1rem; }

.flex { display: flex; }
.fixed { position: fixed; }
.flex-row { flex-direction:row; }
.flex-row-reverse { flex-direction:row-reverse; }
.flex-col { flex-direction:column; }
.flex-col-reverse { flex-direction:column-reverse; }
.flex-wrap { flex-wrap:wrap; }
.flex-nowrap { flex-wrap:nowrap }
.flex-grow-0 { flex-grow: 0; }
.flex-auto { flex: 1 1 0%; }

.clear { clear: both; }
.left { float: left; }
.right { float: right; }
.center { text-align: center; }
.align-right { text-align: right; }
.middle { vertical-align: middle; }
.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }
.justify-between { justify-content: space-between; }
.justify-center { justify-content: center; }
.items-center { align-items: center; }
.italic { font-style: italic; }
.sticky { position: sticky; }
.absolute { position: absolute; }
.relative { position: relative; }
.hidden { overflow: hidden; }
.none { display: none; }
.block { display: block; }
.table { display: table; }
.inline { display: inline-block; }
.list-none { list-style: none; }
