/*
 * @button styles
 *
 * Кнопки
 */
 
 /* Buttons */
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-small {
  padding: 0.15rem 0.35rem;
  font-size: 0.775rem;
}

.btn-primary {
  color: $white;
  background-color: #0085ee;
  border-color: #0379d7;
}

.btn-outline-primary {
  color: #0085ee;
  background-color: $white;
  border-color: #0085ee;
}

.btn-primary:hover,
.btn-primary:focus {
  color: $white;
  opacity: 0.8;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  color: $white;
  background-color: #0085ee;
  border-color: #0379d7;
}

.fon-rgba {
  background-color: rgba(0,0,0,.3);
  padding: 1px 6px;
}

.focus-id {
  text-align: center;
  border-radius: 20px;
  font-size: 0.875rem;
  padding: 5px 15px 5px 15px;
}

.focus-id.yes{
  background-color: #f3f4f6;
  color: #9ca3af;
}

.focus-id.no{
  background-color: #f0f9ff;
  color: #0ea5e9;
}

.focus-id:hover{
  opacity: 0.8;
}