/*
 * Colors used in the Agouti project
 *
 * Используемые цвета в проекте Агути
 */

.black { color: $black; }
.white { color: $white; }
.white-hover:hover { color: $white; }
.gray { color: $gray-700; }
.green-600 { color: $green-600; }
.red-500 { color: $red-500; }
.gray-400 { color: $gray-400; }
.gray-500 { color: $gray-500; }
.gray-600 { color: $gray-600; }
.gray-hover:hover { color: $slate-300; }
.gray-light-hover:hover { color: $slate-200; }
.sky-500, .sky-500-hover:hover { color: $sky-500; }
.sky-600-hover:hover { color: $blue-500; }
