/*
 * Components based on the basic style of libArea
 *
 * Компоненты, основанные на базовом стиле LibArea
 */

#contentWrapper {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  margin: 0;
}

.list-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

.d-header {
  top: 0;
  z-index: 50;
  position: sticky;
  background-color: var(--white);
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 25%);
  backface-visibility: hidden;
  height: 3.5em;
  margin-bottom: 15px;
}

.medium-zoom--opened .d-header,
.medium-zoom--opened.up_down_btn { z-index: 0; }

.d-header .ava-base { margin-right: 0; }

.wrap {
  margin: 0 auto;
  height: 100%;
  max-width: 1436px;
  padding-left: 5px;
  padding-right: 5px;
}

.d-header_contents {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  position: relative;
}

.search {
  height: 30px;
  width: 100%;
  border-radius: 20px;
  background-color: var(--gray-100);
  padding-left: 15px;
}

.page-search {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px 10px 30px;
  margin: 0 auto;
}

.main-search {
  margin-left: 30px;
}

.page-search-right {
  width: 100%;
  margin-left: 45px;
}

.page-search__input {
  width: 100%;
  border-radius: 5px;
  height: 50px;
  border: 9px solid #eee;
  padding-left: 15px;
  color: var(--gray-700);
}

.tabs {
  padding: 3px 6px 3px 6px;
  margin-right: 15px;
}

.tabs.active {
  background-color: var(--gray-100);
  color: var(--gray-600);
}

aside {
  min-width: 260px;
  max-width: 310px;
}

aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
}

aside ul a { color: var(--gray); }

footer {
  background-color: var(--white);
  color: var(--gray-600);
  padding: 15px;
  overflow: hidden;
  margin-top: 15px;
}

footer .icon {
  color: var(--gray-600);
  font-size: 21px;
  margin-right: 15px;
}

footer ul {
  padding-left: 60px;
  list-style: none;
  margin: 0;
}

footer ul li a {
  font-size: 14px;
  color: var(--gray-600);
  margin-bottom: 5px;
}

footer ul li a:hover,
footer .icon:hover { color: #111; }

code {
  color: #9b4f5e;
  background-color: #f5f2f0;
  padding: 3px;
  border-radius: 3px;
  font-size: 14px;
}

pre { white-space: pre-wrap; }

blockquote {
  margin-left: 15px;
  background-color: #f3f3f6;
  padding: 0.1rem 1rem;
  border-left: 3px solid #d2d6dd;
  display: table;
}

blockquote p { margin: 2px; }

hr {
  border: none;
  clear: both;
  background-color: #ddd;
  height: 1px;
}

details {
  border-radius: 0 0 3px 3px;
  background-color: #f5f5fa;
  padding: 2px 6px;
  margin: 0;
}

summary {
  background-color: #f5f5fa;
  color: #666;
  font-size: 14px;
}

details[open] > summary {
  padding: 0 0 10px 0;
  color: #666;
}

.txt-closed {
  padding: 10px;
  background-color: lightyellow;
  margin-bottom: 15px;
  display: inherit;
}

.tooltip {
  position: absolute;
  right: 0;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  color: var(--gray-600);
  text-align: center;
}

.box {
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.box-white {
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid var(--br-box-gray);
  background-color: var(--white);
}

.box-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  margin-bottom: 15px;
}

.box-flex-white {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid var(--br-box-gray);
  background-color: var(--white);
}

ul.last-content {
  list-style: none;
  font-size: 0.875rem;
  padding: 0;
  margin: 0;
}

ul.last-content li {
  margin-bottom: 15px;
}

ul.last-content li a {
  display: inline;
  padding: 0;
}

ul.last-content a.last-content_telo { display: block; }

.uppercase-box {
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1.5px;
}

a:hover > img { opacity: 0.8; }
.underline-hover:hover { text-decoration: underline; }

.shown_post img { width: 100%; }
.post-body.full img:hover { box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%); }
.post-body .post-img img { margin-top: 5px; }

.post-body.full img {
  max-width: 100%;
  display: block;
}

.content-body { max-width: 780px; }

.content-body p img {
  max-width: 99%;
  max-height: 500px;
  display: block;
}

.content_tree:target,
.content_tree.edit {
  background-clip: content-box;
  background-color: lightyellow;
  margin-top: -70px;
  padding-top: 70px;
}

/* Markdown */
.ind-first-p p:first-child { margin-top: 3px; }

.video-object {
  max-width: 640px;
  max-height: 360px;
}

.home-img,
.thumb {
  width: 260px;
  height: 130px;
  object-fit: cover;
  border-radius: 5px;
}

.preview .home-img { display: none; }

.up_down_btn {
  bottom: 40px;
  right: 10px;
  line-height: 30px;
  cursor: pointer;
  background-color: #f3f4f6;
  text-align: center;
  position: fixed;
  z-index: 50;
  height: 30px;
  width: 30px;
  color: #374151;
  border-radius: 3px;
}

.up_down_btn:hover {
  text-decoration: none;
  background-color: #e9ebec;
}

.up_down_btn-disabled {
  cursor: default;
  opacity: 0;
}

.box-answer {
  line-height: 1.3;
  padding: 5px;
  height: 48px;
  width: 54px;
  text-align: center;
}

.external-url:after {
  content: "\f470";
  font-family: bootstrap-icons;
  color: var(--gray-600);
  vertical-align: middle;
}