/*
 * Components based on the basic style of Agouti
 *
 * Компоненты, основанные на базовом стиле Агути
 */

container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  max-width: 1636px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;
}

box {
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  display: block;
}

.box-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 15px;
}

.logo {
  text-transform: uppercase;
  font-size: 21px;
  color: #222;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  margin: 0 0 10px 0;
}

h3.uppercase-box {
  color: #6b7280;
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1;
}

code {
  color: #9b4f5e;
  background-color: #f5f2f0;
  padding: 3px;
  border-radius: 3px;
  font-size: 14px;
}

pre { white-space: pre-wrap; }

blockquote {
  margin-left: 15px;
  background-color: #f3f3f6;
  padding: 0.1rem 1rem;
  border-left: 3px solid #d2d6dd;
  display: table;
}

hr {
  border: none;
  clear: both;
  background-color: #ddd;
  height: 1px;
}

details {
  border-radius: 0 0 3px 3px;
  background-color: #f5f5fa;
  padding: 2px 6px;
  margin: 0;
  box-shadow: 3px 3px 4px #eee;
}

summary {
  background-color: #f5f5fa;
  color: #666;
  font-size: 14px;
}

details[open] > summary {
  padding: 0 0 10px 0;
  color: #666;
}

.page {
  margin-left: auto;
  margin-right: auto;
  color: #111;
  max-width: 65ch;
  font-size: 1.25rem;
  padding: 0 10px;
}

.page p img { max-width: $width-one-hundred; }
a:hover > img { opacity: 0.8; }
.underline-hover:hover { text-decoration: underline; }
.answ-telo p:first-child {margin-top: $px-five;}

.shown_post img { width: 100%; }
.post-body.full img:hover { box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%); }
.post-body .post-img img { margin-top: 5px; }

.post-body.full img {
  max-width: 100%;
  display: block;
}

.answ-telo p img {
  max-width: 99%;
  max-height: 500px;
  display: block;
}

.comment_subtree:target,
.comment_subtree.edit,
.answers_subtree:target,
.answers_subtree.edit {
  background-clip: content-box;
  background-color: lightyellow;
  margin-top: -70px;
  padding-top: 70px;
}

.video-object {
  width: 640px;
  height: 360px;
}

.answ-telo .video-object {
  width: 290px;
  height: 160px;
}

.home-img,
.thumb {
  width: 260px;
  height: 130px;
  object-fit: cover;
}

.preview .home-img { display: none; }

.up_down_btn {
  bottom: 40px;
  right: 10px;
  line-height: 30px;
  cursor: pointer;
  background-color: #f3f4f6;
  text-align: center;
  position: fixed;
  z-index: 50;
  height: 30px;
  width: 30px;
  color: #374151;
  border-radius: 3px;
}

.up_down_btn:hover {
  text-decoration: none;
  background-color: #e9ebec;
}

.up_down_btn-disabled {
  cursor: default;
  opacity: 0;
}

/* Tags */
.tags-look .tagify__dropdown__item {
  display: inline-block;
  border-radius: 3px;
  padding: 0.3em 0.5em;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  margin: 0.2em;
  font-size: 0.85em;
  color: black;
  transition: 0s;
}

.tags-look .tagify__dropdown__item--active {
  color: black;
}

.tags-look .tagify__dropdown__item:hover {
  background-color: lightyellow;
  border-color: gold;
}

.tags-xs {
  margin-right: 5px;
  padding: 2px 6px 2px 6px;
  border-bottom: 1px solid #bbbbbb;
  background-color: #ececec;
  color: #6b3e4a;
  border-radius: 3px;
  font-size: $fontSize-xs;
}

.tags-xs:hover {
  color: #444;
  background-color: #fff;
}

/* qa */
.tags-sm {
  margin-right: 5px;
  padding: 2px 6px 2px 6px;
  border-bottom: 1px solid #bbbbbb;
  background-color: #ececec;
  color: #6b3e4a;
  border-radius: 3px;
  font-size: 13px;
}

.tags-sm:hover {
  color: #444;
}

.box-answer {
  line-height: 1.3;
  padding: 5px;
  height: 48px;
  width: 54px;
  text-align: center;
}

/* Drop-down menu and left nav */
menu { padding: 0px; }

nav > ul > li > a {
  color: #9ca3af;
  padding: 3px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul > li > a span { color: #4b5563; }

ul > li > a:hover > span,
ul > li > a:hover > i,
a.sky-500 span { color: #0ea5e9; }

/* Tippy.js - theme: light, */
.dark .tippy-box[data-theme~="light"] {
  background-color: $black;
  color: $neutral-900;
}

.dark .tippy-box[data-theme~="light"][data-placement^="top"] > .tippy-arrow::before  { border-top-color: $black; }
.dark .tippy-box[data-theme~="light"][data-placement^="bottom"] > .tippy-arrow::before,
.dark .tippy-box[data-theme~="light"][data-placement^="top"] > .tippy-arrow::before { border-bottom-color: $black; }

.tippy-box[data-theme~=light]{color:#26323d;box-shadow:0 0 20px 4px rgba(154,161,177,.15),0 4px 80px -8px rgba(36,40,47,.25),0 4px 4px -2px rgba(91,94,105,.15);background-color:#fff}.tippy-box[data-theme~=light][data-placement^=top]>.tippy-arrow:before{border-top-color:#fff}.tippy-box[data-theme~=light][data-placement^=bottom]>.tippy-arrow:before{border-bottom-color:#fff}.tippy-box[data-theme~=light][data-placement^=left]>.tippy-arrow:before{border-left-color:#fff}.tippy-box[data-theme~=light][data-placement^=right]>.tippy-arrow:before{border-right-color:#fff}.tippy-box[data-theme~=light]>.tippy-backdrop{background-color:#fff}
