/*
 * @form styles
 *
 * Стили для форм
 */

textarea {
  width: 100%;
  font-size: 16px;
  padding: 1px 6px;
  border: 1px solid var(--slate-300);
}

input, select {
  border: 1px solid var(--slate-300);
  font-size: 16px;
}

fieldset input:not([type=radio]):not([type=checkbox]):not([type=range]),
fieldset select {
  width: 100%;
  min-height: 34px;
  padding: 5px;
}

fieldset {
  padding: 0;
  border: 0;
  position: relative;
  margin: 10px 0;
}

fieldset.rememberme label {
  display: inline;
  vertical-align: middle;
  margin-left: 5px;
  color: var(--gray);
}

.help {
  font-size: 0.875rem;
  color: var(--gray-600);
}

select { background-color: var(--white); }

input: focus,
textarea: focus { border: 1px solid #9ccdf8; }

label {
  display: block;
  margin-bottom: 5px;
}

::placeholder { color: #919191; }