/*
 * Drop-down menu and left nav
 *
 * Выпадающее меню и навигация слева
 */

.menu__left { min-width: 180px; }
.menuno .menu__left { display: none; }

.dropdown,
.menu,
.nav,
.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
}

.dropdown a i,
.menu a i {
  margin-right: 10px;
  font-size: 1.5rem;
}

.dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  top: 51px;
  box-shadow: 0 12px 12px rgba(0,0,0,0.15);
  padding: 5px 10px 5px 10px;
  z-index: 5;
  min-width: 180px;
}

.dropdown.left {
  left: 0;
  width: 150px;
}

.menu a,
.dropdown li > a {
  color: var(--gray-600);
  padding: 3px 10px 3px 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav { display: flex; }

.nav a { 
  padding-right: 20px;
  color: var(--gray-600);
}

.nav a i { margin-right: 4px; }

.active,
a.active,
a.active > i,
.nav a:hover,
.menu a:hover,
.menu a:hover > i,
.nav a:hover > i,
.dropdown a:hover,
.dropdown a:hover > i { color: #0ea5e9; }

.breadcrumbs li {
  display: inline;
  color: var(--gray-400); 
}

.breadcrumbs li:not(:last-child):after {
  content: " / ";
}