/*
 * Drop-down menu and left nav
 *
 * Выпадающее меню и навигация слева
 */

.dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  top: 45px;
  box-shadow: 0 12px 12px rgba(0,0,0,0.15);
  padding: 5px 10px 5px 10px;
  font-size: 0.875rem;
  list-style: none;
  margin: 0;
  z-index: 5;
  min-width: 160px;
}

.dropdown.left {
 left: 0;
 width: 150px;
}

ul > li > a {
  color: var(--gray-600);
  padding: 3px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul > li > a > i {
  color: var(--gray-400);
  margin-right: 10px;
  font-size: 1.5rem;
}

ul > li > a span { color: var(--gray-600); }

ul > li > a:hover,
ul > li > a:hover > i,
a.sky-500,
a.sky-500 > i { color: #0ea5e9; }

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs li {
  display: inline;
  color: var(--gray-400); 
}

.breadcrumbs li:last {
  font-weight: bold;
  color: #000;
}

.breadcrumbs li:not(:last-child):after {
  content: " / ";
}

.nav-catalog {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
}

.nav-catalog > li {
  margin-bottom: 10px;
}

.nav-catalog > li  > a {
  padding: 3px 0;
}