/*
 * Drop-down menu and left nav
 *
 * Выпадающее меню и навигация слева
 */

.dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  top: 41px;
  box-shadow: 0 12px 12px rgba(0,0,0,0.15);
  padding: 5px 20px 5px 10px;
  font-size: 0.875rem;
  list-style: none;
  margin: 0;
  z-index: 5;
}

.dropdown.left {
 left: 0;
 width: 150px;
}

ul > li > a {
  color: var(--gray-400);
  padding: 3px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul > li > a span { color: var(--gray-600); }

ul > li > a:hover > span,
ul > li > a:hover > i,
a.sky-500 span { color: #0ea5e9; }

#bread_crumbs {
  list-style: none;
  padding: 0;
  margin: 0;
}

#bread_crumbs > li {
  display: inline-block;
}

#bread_crumbs > li span {
  padding: 0 0.5em 0 0.5em;
}
