/*
 * Tags (facets)
 *
 * Теги (фасеты)
 */

.tags {
  padding: 0.15rem 0.35rem;
  font-size: 0.775rem;
  color: #0ea5e9;
  background-color: #dbeafe;
  border-radius: 5px;
  display: inline-block;
}

.tags:hover {
  color: #fff;
  background-color: #5fb878;
}

.tags-xs {
  margin-right: 5px;
  padding: 2px 6px 2px 6px;
  border-bottom: 1px solid #bbbbbb;
  background-color: #ececec;
  color: #6b3e4a;
  border-radius: 3px;
  font-size: 0.75rem;
}

.tags-xs:hover {
  color: #444;
  background-color: #fff;
}

.tags-look .tagify__dropdown__item {
  display: inline-block;
  border-radius: 3px;
  padding: 0.3em 0.5em;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  margin: 0.2em;
  font-size: 0.85em;
  color: black;
  transition: 0s;
}

.tags-look .tagify__dropdown__item--active {
  color: black;
}

.tags-look .tagify__dropdown__item:hover {
  background-color: lightyellow;
  border-color: gold;
}
